@import "global-var";

.align-l {
    text-align: left;
}
.align-r {
    text-align: right;
}
.align-c {
    text-align: center;
}
.v-align-t{
     vertical-align: top;
}
.v-align-m{
     vertical-align: middle;
}
.v-align-b{
     vertical-align: bottom;
}

.font-size-large {
    font-size: $font-size-large;
}

.font-size-big {
    font-size: $font-size-big;
}

.font-size-middle {
    font-size: $font-size-middle;
}
.font-size-base {
    font-size: $font-size-base;
}
.font-size-small {
    font-size: $font-size-small;
}
.font-size-0 {
    font-size: 0;
}

.font-weight-bold {
    font-weight: $font-weight-bold;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-middle {
    font-weight: $font-weight-middle;
}

.font-weight-normal {
    font-weight: $font-weight-normal;
}

.main-text-outstanding {
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    color: $black-2;
    &:hover {
    color: $black-3;
    }
    &:active {
    color: $black-1;
    }
}

.main-text-normal {
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    color: $black-3;
}

.main-text-normal-with-hover {
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    color: $black-3;
    &:hover {
    color: $black-4;
    }
    &:active {
    color: $black-2;
    }
}

.unit-text {
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    color: $black-4;
}

.disabled-text {
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    color: $black-5;
}

.white-text {
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    color: $white
    background-color: $black-1;
}

.link-text {
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    color: $blue-2;
    line-height: 16px;
    &:hover {
        color: $blue-3;
        cursor: pointer;
    }
    &:active {
        color: $blue-1;
    }
}

.popover-message {
    font-size: $font-size-small;
    font-weight: $font-weight-middle;
    color: $black-2;
}

.tooltip-message {
    font-size: $font-size-small;
    font-weight: $font-weight-normal;
    color: $black-3;
}

.additional-message {
    font-size: $font-size-small;
    font-weight: $font-weight-normal;
    color: $black-4;
}


.line-height-24 {
    line-height: $px-grade-12;
}

.line-height-32 {
    line-height: $px-grade-16;
}

.text-overflow-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-overflow-ellipsis-line-2 {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
}

.white-space-nowrap {
    white-space: nowrap;
}

.color-blue {
    color: $blue-2;
}

.color-red-1 {
    color: $red-1;
}
