@import "global-var";

// font style
@import "global-font";

// heading style
@import "global-heading";

// margin & padding
@import "global-edge-distance";

// display & position & width & height
@import "global-layout";

// border & shadow
@import "global-border";

// background
@import "global-background";

.introjs-bullets {
    display none
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background: #f5f5f7;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #85888c;
}

::-webkit-scrollbar-track {

}
