@import "global-var";

// display
.display-none {
    display: none;
}
.display-inline {
    display: inline-block;
}
.display-block {
    display: block;
}

.display-inherit {
    display: inherit;
}

.overflow-x-hidden {
    overflow-x: hidden
}
.overflow-y-hidden {
    overflow-y: hidden
}
.overflow-y-auto {
    overflow-y: auto
}

.float-r{
    float: right;
}
.float-l{
    float: left;
}

// position
.position-re {
    position: relative;
}
.position-ab {
    position: absolute;
}
.position-ab-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.top-left-16 {
    top: $px-grade-8;
    left: $px-grade-8;
}
.left-0 {
    left: 0;
}
.left-16 {
    left: $px-grade-8;
}
.left-72 {
  left: $px-grade-36;
}
.left-68 {
    left: $px-grade-34;
}
.left-176 {
    left: $px-grade-88;
}
.right-1 {
    right: 1px;
}
.right-8 {
    right: $px-grade-4;
}
.right-16 {
  right: $px-grade-8;
}
.top-100 {
    bottom: 100px;
}
.bottom-0 {
    bottom: 0!important;
}
.bottom-8 {
    bottom: 8px;
}
.bottom-10 {
    bottom: 10px;
}
.bottom-ne-8{
    bottom: -8px;
}
.bottom-16 {
    bottom: 16px;
}
.bottom-56 {
    bottom: 56px;
}
.bottom-64 {
    bottom: 64px;
}
// width & hight
.height-8 {
    height: $px-grade-4;
    line-height: $px-grade-4;
}
.width-16 {
    width: $px-grade-8;
}
.height-16 {
    height: $px-grade-8;
    line-height: $px-grade-8;
}
.width-24 {
    width: $px-grade-12;
}
.height-24 {
    height: $px-grade-12;
    line-height: $px-grade-12;
}
.width-32 {
    width: $px-grade-16;
}
.height-32 {
    height: $px-grade-16;
    line-height: $px-grade-16;
}
.width-40 {
    width: $px-grade-20;
}
.height-40 {
    height: $px-grade-20;
    line-height: $px-grade-20;
}
.height-48 {
    height: $px-grade-24;
    line-height: $px-grade-24;
}
.width-44 {
    width: 44px;
}
.width-56 {
    width: $px-grade-28;
}
.height-56 {
    height: $px-grade-28;
    line-height: $px-grade-28;
}
.width-64 {
    width: $px-grade-32;
}
.height-64 {
    height: $px-grade-32;
    line-height: $px-grade-32;
}
.width-72 {
    width: $px-grade-36;
}
.height-72 {
    height: $px-grade-36;
    line-height: $px-grade-36;
}
.width-80 {
    width: $px-grade-40;
}
.height-80 {
    height: $px-grade-40;
    line-height: $px-grade-40;
}
.width-88 {
    width: $px-grade-44;
}
.width-96 {
    width: $px-grade-48;
}
.width-102 {
    width: $px-grade-51;
}
.width-112 {
    width: $px-grade-56;
}
.width-160 {
    width: $px-grade-80;
}
.width-200 {
    width: $px-grade-100;
}
.width-264 {
    width: $px-grade-132;
}
.width-272 {
    width: $px-grade-136;
}
.width-280 {
    width: $px-grade-140
}
.height-88 {
    height: $px-grade-44;
}
.height-96 {
    height: $px-grade-48;
    line-height: $px-grade-48;
}
.width-120 {
    width: $px-grade-60;
}
.width-136 {
    width: $px-grade-68;
}
.width-180 {
    width: $px-grade-90;
}
.height-176 {
    height: $px-grade-88;
    line-height: $px-grade-88;
}
.height-176-default {
    height: $px-grade-88;
}
.height-184 {
    height: $px-grade-92;
    line-height $px-grade-92
}
.height-max-400 {
  height: auto;
  max-height: $px-grade-200;
}
.width-328 {
    width: $px-grade-164;
}
.width-360 {
    width: $px-grade-180;
}
.width-432 {
    width: $px-grade-216;
}
.width-438 {
    width: $px-grade-219;
}
.width-percent-30 {
    width: 30%;
}
.height-percent-30 {
    height: 30%;
}
.width-percent-50 {
    width: 50%
}
.width-percent-100 {
    width: 100%;
}
.height-percent-50 {
    height: 50%
}
.height-percent-100 {
    height: 100%;
}
.width-all-minus-24 {
    width: calc(100% - 24px)
}

.width-auto {
    width: auto!important;
}
.height-auto {
    height: auto!important;
}

.height-50 {
    height 50px
}

.height-only-96 {
    height: $px-grade-48;
}
.square-30 {
    height: 30px;
    width: 30px;
}

.max-width-160 {
    max-width: $px-grade-80;
}