@import "global-var";

.background-color-blue {
    background-color: $blue-6
}
.background-color-white {
    background-color: #fff;
}

.rotate180 {
    transform: rotate(180deg);
}
.color-blue-2 {
    color: $blue-2
}
.color-red-1{
    color: $red-1
}
.color-grey-1{
    color: $grey-1
}
.color-grey-2{
    color: $grey-2
}
.color-grey-3{
    color: $grey-3
}
.color-black-4 {
    color: $black-4
}
.color-green-1 {
    color: $green-1
}
.color-black-5 {
    color: $black-5
}
