@import "global-var";

// margin
.margin-0 {
    margin: 0 !important;
}

.margin-auto {
    margin: 0 auto;
}

.margin-8 {
    margin: $px-grade-4;
}

.margin-16 {
    margin: $px-grade-8;
}

.padding-2 {
    padding: $px-grade-1;
}

.padding-8 {
    padding: $px-grade-4;
}

.padding-16 {
    padding: $px-grade-8;
}

.padding-top-4 {
    padding-top: $px-grade-2;
}

.padding-top-8 {
    padding-top: $px-grade-4;
}

.padding-top-12 {
    padding-top: $px-grade-6;
}

.padding-top-16 {
    padding-top: $px-grade-8;
}

.padding-top-24 {
    padding-top: $px-grade-12;
}

.padding-left-4 {
    padding-left: $px-grade-2;
}

.padding-left-8 {
    padding-left: $px-grade-4;
}

.padding-left-16 {
    padding-left: $px-grade-8;
}

.padding-left-36 {
    padding-left: $px-grade-18;
}

.padding-left-80 {
    padding-left: $px-grade-40;
}

.margin-top-2 {
    margin-top: $px-grade-1;
}

.margin-top-4 {
    margin-top: $px-grade-2;
}

.margin-top-8 {
    margin-top: $px-grade-4;
}

.margin-top-10 {
    margin-top: $px-grade-5;
}

.margin-top-12 {
    margin-top: $px-grade-6;
}

.margin-top-16 {
    margin-top: $px-grade-8;
}

.margin-top-negative-16 {
    margin-top: $px-grade-n-8;
}

.margin-top-24 {
    margin-top: $px-grade-12;
}

.margin-top-32 {
    margin-top: $px-grade-16;
}

.margin-top-64 {
    margin-top: $px-grade-32;
}

.margin-top-112 {
    margin-top: $px-grade-56;
}

.margin-top-268 {
    margin-top: $px-grade-134;
}

.margin-left-2 {
    margin-left: $px-grade-1;
}

.margin-left-4 {
    margin-left: $px-grade-2;
}

.margin-left-8 {
    margin-left: $px-grade-4;
}

.margin-left-16 {
    margin-left: $px-grade-8;
}

.margin-left-24 {
    margin-left: $px-grade-12;
}

.margin-left-n-8 {
    margin-left: $px-grade-n-4;
}

.margin-left-n-28 {
    margin-left: $px-grade-n-14;
}

.margin-left-n-30 {
    margin-left: $px-grade-n-15
}

.margin-left-32 {
    margin-left: $px-grade-16;
}

.margin-left-72 {
    margin-left: $px-grade-36
}

.margin-left-40 {
    margin-left: $px-grade-20
}

.margin-left-50 {
    margin-left: $px-grade-25;
}

.padding-bottom-4 {
    padding-bottom: $px-grade-2;
}

.padding-bottom-8 {
    padding-bottom: $px-grade-4;
}

.margin-bottom-8 {
    margin-bottom: $px-grade-4;
}

.margin-bottom-4 {
    margin-bottom: $px-grade-2;
}

.margin-left-12 {
    margin-left: $px-grade-6;
}

.padding-bottom-16 {
    padding-bottom: $px-grade-8;
}

.padding-bottom-20 {
    padding-bottom: $px-grade-10;
}

.padding-bottom-24 {
    padding-bottom: $px-grade-12;
}

.margin-bottom-16 {
    margin-bottom: $px-grade-8;
}

.margin-bottom-24 {
    margin-bottom: $px-grade-12;
}

.margin-right-4 {
    margin-right: $px-grade-2;
}

.margin-right-8 {
    margin-right: $px-grade-4;
}

.margin-right-12 {
    margin-right: $px-grade-6;
}

.margin-right-16 {
    margin-right: $px-grade-8;
}

.margin-right-24 {
    margin-right: $px-grade-12;
}

.margin-right-46 {
    margin-right: $px-grade-23;
}

.margin-right-64 {
    margin-right: $px-grade-32;
}

.margin-top-36 {
    margin-top: $px-grade-18;
}

.margin-bottom-48 {
    margin-bottom: $px-grade-24;
}

.margin-bottom-72 {
    margin-bottom: $px-grade-36;
}

.margin-horizontal-2 {
    margin-left: $px-grade-1;
    margin-right: $px-grade-1;
}

.margin-vertical-2 {
    margin-top: $px-grade-1;
    margin-bottom: $px-grade-1;
}

.margin-horizontal-4 {
    margin-left: $px-grade-2;
    margin-right: $px-grade-2;
}

.margin-vertical-4 {
    margin-bottom: $px-grade-2;
    margin-top: $px-grade-2;
}

.margin-horizontal-8 {
    margin-left: $px-grade-4;
    margin-right: $px-grade-4;
}

.margin-vertical-8 {
    margin-top: $px-grade-4;
    margin-bottom: $px-grade-4;
}

.margin-horizontal-10 {
    margin-left: $px-grade-5;
    margin-right: $px-grade-5;
}

.margin-horizontal-12 {
    margin-left: $px-grade-6;
    margin-right: $px-grade-6;
}

.margin-horizontal-16 {
    margin-left: $px-grade-8;
    margin-right: $px-grade-8;
}

.margin-vertical-16 {
    margin-top: $px-grade-8;
    margin-bottom: $px-grade-8;
}

.margin-horizontal-24 {
    margin-right: $px-grade-12;
    margin-left: $px-grade-12;
}

.margin-vertical-24 {
    margin-top: $px-grade-12;
    margin-bottom: $px-grade-12;
}

.margin-horizontal-32 {
    margin-right: $px-grade-16;
    margin-left: $px-grade-16;
}

.margin-vertical-32 {
    margin-top: $px-grade-16;
    margin-bottom: $px-grade-16;
}

.margin-horizontal-40 {
    margin-right: $px-grade-20;
    margin-left: $px-grade-20;
}

.margin-vertical-40 {
    margin-top: $px-grade-20;
    margin-bottom: $px-grade-20;
}

.margin-horizontal-48 {
    margin-right: $px-grade-24;
    margin-left: $px-grade-24;
}

.margin-vertical-48 {
    margin-top: $px-grade-24;
    margin-bottom: $px-grade-24;
}

.margin-horizontal-56 {
    margin-right: $px-grade-28;
    margin-left: $px-grade-28;
}

.margin-vertical-56 {
    margin-top: $px-grade-28;
    margin-bottom: $px-grade-28;
}

// padding
.padding-0 {
    padding: 0;
}

.padding-right-4 {
    padding-right: $px-grade-2;
}

.padding-right-8 {
    padding-right: $px-grade-4;
}

.padding-right-16 {
    padding-right: $px-grade-8;
}

.padding-right-24 {
    padding-right: $px-grade-12;
}

.padding-horizontal-2 {
    padding-left: $px-grade-1;
    padding-right: $px-grade-1;
}

.padding-vertical-2 {
    padding-top: $px-grade-1;
    padding-bottom: $px-grade-1;
}

.padding-vertical-3 {
    padding-top: 3px;
    padding-bottom: 3px;
}

.padding-horizontal-3 {
    padding-left: 3px;
    padding-right: 3px;
}

.padding-horizontal-4 {
    padding-left: $px-grade-2;
    padding-right: $px-grade-2;
}

.padding-vertical-4 {
    padding-bottom: $px-grade-2;
    padding-top: $px-grade-2;
}

.padding-horizontal-8 {
    padding-left: $px-grade-4;
    padding-right: $px-grade-4;
}

.padding-vertical-8 {
    padding-top: $px-grade-4;
    padding-bottom: $px-grade-4;
}

.padding-horizontal-10 {
    padding-left: $px-grade-5;
    padding-right: $px-grade-5;
}

.padding-vertical-12 {
    padding-top: $px-grade-6;
    padding-bottom: $px-grade-6;
}

.padding-horizontal-14 {
    padding-left: $px-grade-7;
    padding-right: $px-grade-7;
}

.padding-horizontal-16 {
    padding-left: $px-grade-8;
    padding-right: $px-grade-8;
}

.padding-vertical-16 {
    padding-top: $px-grade-8;
    padding-bottom: $px-grade-8;
}

.padding-horizontal-24 {
    padding-right: $px-grade-12;
    padding-left: $px-grade-12;
}

.padding-vertical-24 {
    padding-top: $px-grade-12;
    padding-bottom: $px-grade-12;
}

.padding-horizontal-32 {
    padding-right: $px-grade-16;
    padding-left: $px-grade-16;
}

.padding-vertical-32 {
    padding-top: $px-grade-16;
    padding-bottom: $px-grade-16;
}

.padding-horizontal-40 {
    padding-right: $px-grade-20;
    padding-left: $px-grade-20;
}

.padding-vertical-40 {
    padding-top: $px-grade-20;
    padding-bottom: $px-grade-20;
}

.padding-horizontal-48 {
    padding-right: $px-grade-24;
    padding-left: $px-grade-24;
}

.padding-vertical-48 {
    padding-top: $px-grade-24;
    padding-bottom: $px-grade-24;
}

.padding-bottom-48 {
    padding-bottom: $px-grade-24;
}

.padding-horizontal-56 {
    padding-right: $px-grade-28;
    padding-left: $px-grade-28;
}

.padding-vertical-56 {
    padding-top: $px-grade-28;
    padding-bottom: $px-grade-28;
}
