@import "global-var";

// display
.display-none {
    display: none;
}
.display-inline {
    display: inline-block;
}
.display-flex {
    display: flex;
}
.display-block {
    display: block;
}

// position
.position-re {
    position: relative;
}
.position-ab {
    position: absolute;
}
.top-100 {
    bottom: 100px;
}
.bottom-0 {
    bottom: 0!important;
}
.bottom-8 {
    bottom: 8px;
}
.bottom-10 {
    bottom: 10px;
}
.bottom-56 {
    bottom: 56px;
}

// width & hight
.width-56 {
    width: $px-grade-28;
}
.height-56 {
    height: $px-grade-28;
}
.width-100 {
    width: 100%;
}
.height-100 {
    height: 100%;
}
.width-auto {
    width: auto!important;
}
.height-auto {
    height: auto!important;
}
