@import "global-var";

.align-l {
    text-align: left;
}
.align-r {
    text-align: right;
}
.align-c {
    text-align: center;
}
.font-alibaba-sans {
  font-family: 'Alibaba Sans';
}

.font-roboto {
  font-family: 'Roboto';
}

.font-size-large {
    font-size: $font-size-large;
}

.font-size-big {
    font-size: $font-size-big;
}

.font-size-middle {
    font-size: $font-size-middle;
}

.font-size-small {
    font-size: $font-size-small;
}
.font-size-base {
    font-size: $font-size-base;
}
.font-size-0 {
    font-size: 0;
}

.font-weight-bold {
    font-weight: $font-weight-bold;
}

.font-weight-middle {
    font-weight: $font-weight-middle;
}

.font-weight-normal {
    font-weight: $font-weight-normal;
}

.main-text-outstanding {
    font-family: 'Roboto';
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    color: $black-2;
    &:hover {
    color: $black-3;
    }
    &:active {
    color: $black-1;
    }
}

.main-text-normal {
    font-family: 'Roboto';
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    color: $black-3;
    &:hover {
    color: $black-4;
    }
    &:active {
    color: $black-2;
    }
}

.disabled-text {
    font-family: 'Roboto';
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    color: $black-5;
}

.white-text {
    font-family: 'Roboto';
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    color: $white
    background-color: $black-1;
}

.link-text {
    font-family: 'Roboto';
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    color: $blue-2;
    line-height: 16px;
    &:hover {
    color: $blue-3;
    }
    &:active {
    color: $blue-1;
    }
}

.popover-message {
    font-family: 'Roboto';
    font-size: $font-size-small;
    font-weight: $font-weight-middle;
    color: $black-2;
}

.tooltip-message {
    font-family: 'Roboto';
    font-size: $font-size-small;
    font-weight: $font-weight-normal;
    color: $black-3;
}

.additional-message {
    font-family: 'Roboto';
    font-size: $font-size-small;
    font-weight: $font-weight-normal;
    color: $black-4;
}
