@import "global-var";

.highlight-heading {
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    color: $black-2;
    cursor pointer;
}

.highlight-heading-unselect-with-hover {
    font-size: $font-size-large;
    font-weight: $font-weight-normal;
    color: $black-4;
    &:hover {
        font-weight: $font-weight-normal;
        color: $black-3;
        cursor pointer;
    }
}

.highlight-heading-unselect {
    font-size: $font-size-large;
    font-weight: $font-weight-normal;
    color: $black-4;
}

.heading-1 {
    font-size: $font-size-large;
    font-weight: $font-weight-middle;
    color: $black-2;
}

.heading-2 {
    font-size: $font-size-big;
    font-weight: $font-weight-bold;
    color: $black-2;
}

.heading-2-unselect-with-hover {
    font-size: $font-size-big;
    font-weight $font-weight-normal;
    color: $black-4;
    &:hover {
        color: $black-2;
    }
}

.heading-2-unselect {
    font-size: $font-size-big;
    font-weight $font-weight-normal;
    color: $black-4;
}

.heading-3 {
    font-size: $font-size-middle;
    font-weight: $font-weight-bold;
    color: $black-3;
}

.heading-3-normal-with-hover {
    font-size: $font-size-middle;
    font-weight: $font-weight-middle;
    color: $black-3;
    &:hover {
        color: $blue-2;
    }
}

.heading-3-normal {
    font-size: $font-size-middle;
    font-weight: $font-weight-normal;
    color: $black-3;
}
