
// font-size
$font-size-large = 24px;
$font-size-big = 18px;
$font-size-middle = 16px;
$font-size-base = 14px;
$font-size-small = 12px;

// font-weight
$font-weight-bold = bold;
$font-weight-middle = 600;
$font-weight-normal = normal;

// color
$black-1 = #000000;
$black-2 = #2A2C2E;
$black-3 = #545659;
$black-4 = #85888C;
$black-5 = #B9BCBF;
$grey-1 = #D5D6D9;
$grey-2 = #EEEFF0;
$grey-3 = #F5F5F7;
$white = #FFFFFF;
$blue-1 = #0084FF;
$blue-2 = #1890FF;
$blue-3 = #74BCFF;
$blue-4 = #B9DDFF;
$blue-5 = #D1E9FF;
$blue-6 = #E7F3FF;
$red-1 = #FF5759;
$red-2 = #FFB8B9;
$red-3 = #FFEDED;
$green-1 = #4CB518;
$green-2 = #B7E1A3;
$green-3 = #EDF7E7;
$origin-1 = #FFA940;
$origin-2 = #FFDDB3;
$origin-3 = #FFF6EB;

$background-color-selected = $blue-4


// px
$px-grade-0 = 0px;
$px-grade-1 = 2px;
$px-grade-2 = 4px;
$px-grade-4 = 8px;
$px-grade-5 = 10px;
$px-grade-6 = 12px;
$px-grade-7 = 14px;
$px-grade-8 = 16px;
$px-grade-n-8 = -16px;
$px-grade-10 = 20px;
$px-grade-11 = 22px;
$px-grade-12 = 24px;
$px-grade-n-4 = -8px;
$px-grade-n-14 = -28px;
$px-grade-n-15 = -30px;
$px-grade-15 = 30px;
$px-grade-16 = 32px;
$px-grade-17 = 34px;
$px-grade-18 = 36px;
$px-grade-20 = 40px;
$px-grade-23 = 46px;
$px-grade-24 = 48px;
$px-grade-25 = 50px;
$px-grade-28 = 56px;
$px-grade-32 = 64px;
$px-grade-33 = 66px;
$px-grade-34 = 68px;
$px-grade-36 = 72px;
$px-grade-38 = 76px;
$px-grade-40 = 80px;
$px-grade-44 = 88px;
$px-grade-48 = 96px;
$px-grade-50 = 100px;
$px-grade-51 = 102px;
$px-grade-53 = 106px;
$px-grade-56 = 112px;
$px-grade-58 = 116px;
$px-grade-59 = 118px;
$px-grade-60 = 120px;
$px-grade-61 = 122px;
$px-grade-65 = 130px;
$px-grade-66 = 132px;
$px-grade-68 = 136px;
$px-grade-71 = 142px;
$px-grade-72 = 144px;
$px-grade-76 = 152px;
$px-grade-80 = 160px;
$px-grade-87 = 174px;
$px-grade-88 = 176px;
$px-grade-92 = 184px;
$px-grade-90 = 180px;
$px-grade-96 = 192px;
$px-grade-98 = 196px;
$px-grade-104 = 208px;
$px-grade-124 = 248px;
$px-grade-127 = 254px;
$px-grade-132 = 264px;
$px-grade-134 = 268px;
$px-grade-264 = 528px;
$px-grade-136 = 272px;
$px-grade-152 = 304px;
$px-grade-161 = 232px;
$px-grade-164 = 328px;
$px-grade-100 = 200px;
$px-grade-140 = 280px;
$px-grade-144 = 288px;
$px-grade-148 = 296px;
$px-grade-160 = 320px;
$px-grade-180 = 360px;
$px-grade-200 = 400px;
$px-grade-216 = 432px;
$px-grade-219 = 438px;
$px-grade-266 = 532px;
// border-prop
$border-width-one = 1px;
