@import "global-var";

.radius-8 {
    border-radius: $px-grade-three;
}
.box-shadow-default {
    box-shadow: 0px 2px 40px -16px rgba(134, 134, 139, 0.15), 0px 0px 8px -3px rgba(165, 165, 165, 0.9);
}

.border-1-width {
    border-width: 1px;
}

.border-color-normal {
    border-color: $grey-1;
}