@import "global-var";

.background-color-blue-2 {
    background-color: $blue-2
}

.background-color-blue-4 {
    background-color: $blue-4
}

.background-color-blue-6 {
    background-color: $blue-6
}

.background-color-white {
    background-color: #fff;
}

.background-transparent {
    background: transparent;
}

.background-grey-1 {
    background-color: $grey-1;
}

.background-grey-2 {
    background-color: $grey-2;
}

.background-grey-3 {
    background-color: $grey-3;
}

.rotate180 {
    transform: rotate(180deg);
}

.rotate90 {
    transform: rotate(90deg);
}

.rotate270 {
    transform: rotate(270deg);
}

.color-blue-2 {
    color: $blue-2
}

.color-red-1 {
    color: $red-1
}

.color-grey-1 {
    color: $grey-1
}

.color-grey-2 {
    color: $grey-2
}

.color-grey-3 {
    color: $grey-3
}

.color-black-4 {
    color: $black-4
}

.color-green-1 {
    color: $green-1
}

.color-black-2 {
    color: $black-2;
}

.color-black-3 {
    color: $black-3
}

.color-black-5 {
    color: $black-5
}

.color-white {
    color: $white;
}

.hover-normal-grey-2 {
    &:hover {
        background $grey-2;
    }
}

.hover-background-blue-svg {
    &:hover {
        .svg-hover-blue {
            svg {
                fill: #1890FF;
            }
        }
    }
}

.material-background-white {
    background-color #fff
    border 1px solid #B9BCBF
    border-radius 4px
}

.material-background-black {
    background-color #000
    border-radius 4px
}

.opacity-precent-50 {
    opacity: 0.5;
}
