// font-size
$font-size-large = 24px;
$font-size-big = 18px;
$font-size-middle = 16px;
$font-size-base = 14px;

// font-weight
$font-weight-blod = bold;
$font-weight-middle = 600;
$font-weight-normal = normal;

// color
$black-1 = #000000;
$black-2 = #2A2C2E;
$black-3 = #545659;
$black-4 = #85888C;
$black-5 = #B9BCBF;
$white = #FFFFFF;
$blue-1 = #0084FF;
$blue-2 = #1890FF;
$blue-3 = #74BCFF;


// px
$px-grade-one = 2px;
$px-grade-two = 4px;
$px-grade-three = 8px;
$px-grade-four = 16px;
$px-grade-five = 24px;
$px-grade-six = 32px;
$px-grade-seven = 40px;
$px-grade-eight = 48px;
$px-grade-night = 56px;