.introjs-tooltip {
    width 480px;
    max-width: 480px;
    color: #545659;
    font-size 14px
}
.printing-export-highlight-part {
    height: 125px !important;
    bottom 8px !important;
    top auto !important;
}
.printing-export-intro {
    bottom 142px !important;
}

.introjs-prevbutton {
    display none
}

.introjs-skipbutton {
    // display none
}
.introjs-tooltipbuttons {
    border none
    .introjs-nextbutton {
        width: 96px;
        height: 32px;
        padding: 0;
        text-align: center;
        line-height: 32px;
        background: #2A2C2E;
        text-shadow: none;
        border-radius: 8px;
        color: #fff;
        &:hover {
            cursor pointer
            color #fff
        }
    }
}

.introjs-tooltip-header {
    border-bottom 1px solid #D5D6D9;
}

.printing-preview-intro {
    img {
        margin: 8px 160px 0;
    }
}
// .printing-export-highlight-part {
//     // bottom 0px;
//     // min-height 120px;
//     // top: auto !important;
//     background #f00
// }
.printing-export-highlight-part + .introjs-tooltipReferenceLayer + .introjs-disableInteraction {
    bottom 0px
    min-height: 130px;
    top: auto !important;
}

.job-setup-img {
    margin: 8px 169px 0;
}

.process-img {
    width 210px
    height 80px
}

.preview-img {
    margin-left: 169px
}

.laser-cnc-intro-step-five-bottom {
    display flex
    justify-content flex-start
    align-items flex-end
    .text-3-wrapper {
        border: 1px dashed #1890FF;
    }
    .text-3 {
        display flex
        justify-content center
        align-items center
        width 160px
        height 32px
        border-radius 8px
        border 1px solid #2a2c2e
        cursor default
        margin 4px
    }
}

.laser-intro-one-content-4-axis {
    .intro-4-axis-big-img {
        width: 330px;
        height: 128px;
        margin: 8px 55px;
    }
}

.introjs-button {
    &:focus {
        box-shadow none
    }
}