@import "global.styl"
.sm-flex {
    display: flex;
    overflow: hidden;
    .sm-flex-auto{
        flex: 0 0 auto;
        order: 1;
    }
    .sm-flex-width{
        flex: 1;
    }
    .sm-flex-order-positive{
        order: 1;
    }
    .sm-flex-order-negative{
        order: -1;
    }
    &__input-unit-24 {
        position: absolute;
        right: 24px;
    }
    &__input-unit-40 {
        position: absolute;
        right: 40px;
    }
}

.justify-space-around{
    justify-content: space-around;
}
.justify-space-between{
    justify-content: space-between;;
}
.justify-start{
    justify-content: start;
}
