@import "global.styl"

.sm-flex {
    display: flex;
    overflow: hidden;

    .sm-flex-auto {
        flex: 0 0 auto;
        order: 1;
    }

    .sm-flex-width {
        flex: 1;
    }

    // flex

    .sm-flex-direction-c {
        flex-direction: column;
    }

    .sm-flex-direction-r {
        flex-direction: row;
    }

    .sm-flex-order-positive {
        order: 1;
    }

    .sm-flex-order-negative {
        order: -1;
    }

    &__input-unit-8 {
        position: absolute;
        right: 8px;
    }

    &__input-unit-24 {
        position: absolute;
        right: 24px;
    }

    &__input-unit-in-modal {
        position: absolute;
        right: 32px;
    }

    &__input-unit-8 {
        position: absolute;
        right: 8px;
    }

    &__input-unit-24 {
        position: absolute;
        right: 24px;
    }

    &__input-unit-40 {
        position: absolute;
        right: 40px;
    }

    &__input-unit-44 {
        position: absolute;
        right: 44px;
    }

    &__input-unit-56 {
        position: absolute;
        right: 56px;
    }

    &__input-unit-104 {
        position: absolute;
        right: 104px;
    }

    &__input-unit-l-88 {
        position: absolute;
        left: 88px;
    }

    &__input-unit-l-128 {
        position: absolute;
        left: 128px;
    }

    &__input-unit-l-150 {
        position: absolute;
        left: 150px;
    }

    &__input-unit-l-176 {
        position: absolute;
        left: 176px;
    }

    &__input-unit-l-184 {
        position: absolute;
        left: 184px;
    }
}

// flex-wrap
// https://developer.mozilla.org/en-US/docs/Web/CSS/flex-wrap
.sm-flex-wrap {
    flex-wrap: wrap;
}

.sm-flex-nowrap {
    flex-wrap: nowrap;
}

.sm-flex-overflow-visible {
    display: flex;
}

.justify-space-around {
    justify-content: space-around;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-start {
    justify-content: start;
}

.justify-center {
    justify-content: center;
}

.justify-flex-start {
    justify-content: flex-start;
}

.justify-flex-end {
    justify-content: flex-end;
}

.align-center {
    align-items: center;
}

.align-flex-start {
    align-items: flex-start;
}

.align-flex-end {
    align-items: flex-end;
}

.text-align-center {
    text-align: center;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

.sm-flex-direction-c {
    flex-direction: column;
}

.flex-grow-1 {
    flex-grow: 1;
}

// FIXME
.sm-flex-important {
    display: flex !important
}

