.sm-grid {
    display: grid;
}
.grid-column-gap-32 {
    grid-column-gap: $px-grade-16;
}
.grid-row-gap-16 {
    grid-row-gap: $px-grade-8;
}
.grid-row-gap-60 {
    grid-row-gap: $px-grade-30;
}
.grid-template-columns-for-machine-settings {
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
}
.grid-template-columns-for-machine-settings-large-screen {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
.grid-template-columns-for-material-settings {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.grid-template-columns-for-machine-settings-small-screen {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.grid-template-row-for-machine-settings {
    grid-template-rows: repeat(auto-fill, minmax(320px, 16.25vw));
}
.grid-template-row-for-machine-settings-large-screen {
    grid-template-rows: repeat(auto-fill, minmax(350px, 1fr));
}
