.sm-icon-14
    display: inline-block
    width: 14px
    height: 14px
    background-size: contain
    margin-bottom: 8px

.sm-icon-32
    display: inline-block
    width: 32px
    height: 32px
    background-size: contain

.sm-icon-idle
    background-image: url("../resources/images/32x32/icon-idle-32x32.png")
.sm-icon-running
    background-image: url("../resources/images/32x32/icon-running-32x32.png")
.sm-icon-paused
    background-image: url("../resources/images/32x32/icon-pause-32x32.png")
.sm-icon-refresh
    background-image: url("../resources/images/32x32/icon-refresh-32x32.png")
