@import "variables.styl"

.sm-parameter-container
    display: block

.sm-parameter-header
    display: block
    width: 100%
    background-color: #eee
    height: 28px
    line-height: 28px
    margin-bottom: 10px

    &__indicator
        width: 22px
        height: 22px
        text-align: center
        vertical-align: baseline

        &.pull-right
            float: right
            margin-top: 6px

    &__title
        padding: 0
        color: $dark-color

// Single row parameter
.sm-parameter-row
    position: relative
    margin: 8px 0
    line-height: 30px
    height: 30px

    &__label
        display: inline-block
        width: 105px
        line-height: 15px

    &__label2
        display: inline-block
        line-height: 15px

    &__label-r
        display: inline-block
        line-height: 15px

    &__label-lg
        display: inline-block
        max-width: 180px
        line-height: 15px

    &__input
    &__input2
    &__input-lg
    &__select
    &__select2
    &__select-lg
    &__select-md
    &__checkbox
    &__slider
    &__slider-input
    &__slider2-input
    &__label-r
        float: right

    &__input
    &__select
        width: 110px

    &__select2
        width: 70px

    &__font-select
        width: 202px
        float: right

    &__input2
        width: 58px
        margin-right: 24px

    &__input-lg
    &__select-lg
        width: 180px

    &__select-md
        width: 160px

    &__slider
        width: 148px
        margin-top: 10px
        margin-right: 8px

    &__slider-input
        width: 45px
        padding: 6px

    &__slider2
        display: inline-block
        width: 190px
        margin-left: 4px
        line-height: 15px

    &__slider2-input
        width: 60px;

    &__input-unit
        position: absolute
        right: 12px
        color: $grey-color

    &__input2-text
        position: absolute
        right: 84px
        top: 8px
        line-height: 15px

    &__input2-check
        position: absolute
        right: 4px
        top: 8px
        font-size: $font-size-lead
        line-height: 15px

    &__input2-unit
        position: absolute
        right: 28px
        color: $grey-color
        line-height: 32px

    &__checkbox
        height: 26px
        margin-right: 8px
