// @stylint off

// Normalize CSS
@import url("~normalize.css/normalize.css");

// Ant Design 4.0
// Load antd as CSS instead of using its less styles
@import url("~antd/dist/antd.css");

@import url("~intro.js/introjs.css");

// rc-slider
// @import url("~rc-slider/assets/index.css");

// react-toastify
@import url("~react-toastify/dist/ReactToastify.css");

// react-contexify
@import url("~react-contexify/dist/ReactContexify.css");


// rewrite react-toastify component style
.Toastify__toast-container {
  z-index: 9999;
  -webkit-transform: translate3d(0, 0, 9999px);
  position: fixed;
  padding: 0px;
  max-width: 720px;
  width: auto;
//   top: 5em;
  top: 108px;
  left: calc(50% - 142px);
  transform: translateX(-50%);
  box-sizing: border-box;
  color: #fff;
  height: 40px;
}


.Toastify__toast {
   width: auto;
   text-align: center;
   min-height: 0px;
   color: #545659;
   font-weight normal
   box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.08), 0px 3px 6px -4px rgba(0, 0, 0, 0.12);
   border-radius: 25px;
   border: 1px solid #d5d6d9;
   height: 40px;
}
.Toastify__toast-body{
    width: 100%;
    padding: 0px 30px 0px 8px;
}

.Toastify__close-button {
    width: 0px;
    display: none;
}

// react-toggle
@import url("~react-toggle/style.css");

// @stylint on

@import url("~react-facebook-loading/dist/react-facebook-loading.css");

// react-infinite-tree
@import "infinite-tree";

// font-awesome
@import "font-awesome";

// xterm
@import "xterm";
