// @stylint off

// Normalize CSS
@import url("~normalize.css/normalize.css");

// Bootstrap
@import url("~bootstrap/dist/css/bootstrap.css");

// rc-slider
@import url("~rc-slider/assets/index.css");

// react-select
@import url("~react-select/dist/react-select.css");

// Rewrite react-select component style
// since react-select is written in less, we have to rewrite its generated CSS
.Select-control
    height: 30px

.Select-placeholder
.Select--single > .Select-control .Select-value
    line-height: 28px

.Select-input
    height: 28px
.Select-option
    padding: 2px 10px

// bootstrap x react-select
.input-group > .Select:not(:last-child) .Select-control
    border-top-right-radius: 0
    border-bottom-right-radius: 0

.input-group > .Select:not(:first-child) .Select-control
    border-top-left-radius: 0
    border-bottom-left-radius: 0

// react-toggle
@import url("~react-toggle/style.css");

// @stylint on

@import url("~react-facebook-loading/dist/react-facebook-loading.css");

// react-infinite-tree
@import "infinite-tree";

// font-awesome
@import "font-awesome";

// xterm
@import "xterm";
