@import "../../../styles/variables.styl"
.manager-body {
    text-align: left;
    .manager-content {
        height: calc(100vh - 132px);
        .manager-name {
            display:flex
            flex-direction: column
            width: 262px
            height: 100%
            // margin-right: 16px
            vertical-align: top
            .manager-name-wrapper {
                list-style: none
                width: 262px;
                background: #FFFFFF;
                padding: 0;
                margin: 0;
                overflow-y: auto;
                flex: 1
                vertical-align: top
                .manager-btn {
                    display: flex;
                    height: 32px
                    line-height: 32px;
                    width: 100%;
                    text-align: left;
                    &.selected {
                        background: #E6F2FD;
                    }
                    .manager-btn-unfold {
                        width: 32px;
                        height: 32px;
                        display: inline-block;
                        vertical-align: middle;
                        .manager-btn-unfold-bg {
                            outline: none;
                            background: url("../../../resources/images/cnc-laser/ic_right arrow_18x18.png") no-repeat center/18px 18px
                            height: 18px;
                            margin: 7px;
                            width: 18px;
                            display: inline-block;
                            &.unfold {
                                outline: none;
                                background-image: url("../../../resources/images/cnc-laser/ic_drop arrow_18x18.png")
                            }
                        }
                    }
                    input{
                        float: none;
                        outline:none;
                        border:none;
                        width: 215px;
                        height: 24px;
                        background: #FFFFFF;
                        width: 180px;
                    }
                }
            }
            .manager-file {
                width: 48%;
                vertical-align: middle;
                background-color: white;
                padding: 4px;
                border: 1px solid #B9BCBF;
                &:hover {
                    color: #272829;
                    background #eeeff0 !important;
                }
                .action-title{
                    vertical-align: middle;
                    display: inline-block;
                    line-height: 16px;
                    padding: 0 5px;
                }
            }
        }
    }

    .manager-settings {
        padding: 0 20px;
        background: #F6F7F8;
        .manager-settings-btn {
            padding: 9px 0;
            a {
                box-sizing: content-box;
                height: 24px;
                line-height: 24px;
                padding: 5px 30px
            }
        }
        .manager-settings-operate {
            float: left;
        }
        .manager-settings-save {
            float: right;
        }
    }

}

.manager-grouplist {
    width: 176px
    border-right: 1px solid #EEEFF0;
    padding: 16px 0;
    // height: 100%
    height: 98%
    // margin-right: 16px;
    // padding: 1px;
    text-align: left;
    box-sizing content-box;
    .item{
        display: block;
        width: 100%;
        line-height: 32px;
        padding: 0px 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .selected {
        background: #E6F2FD;
    }
}
.manager-detail-and-docs {
    max-width: calc(100% - 176px);
    width: calc(100% - 192px);
    overflow-x: auto;
    padding: 16px 0px 16px 16px;
}

.manager-details {
    // width: 100%;
    // max-width: 490px;
    min-width: 408px;
    height: 100%
    overflow-y: auto;
    margin: 0 24px 0 0;
    text-align: left
}
.settings-select-wrapper {
    max-width: 384px;
    max-height: 256px;
    .settings-select {
        height: 76px;
        width: 76px;
        border-radius: 8px;
        &:not(:last-child) {
            margin-right: 16px;
        }
        &_adhesion_type_brim {
            background: url("./images/adhesion_type_brim.svg") no-repeat 0 0
            background-size: 100%
        }
        &_adhesion_type_raft {
            background: url("./images/adhesion_type_raft.svg") no-repeat 0 0
            background-size: 100%
        }
        &_adhesion_type_skirt {
            background: url("./images/adhesion_type_skirt.svg") no-repeat 0 0
            background-size: 100%
        }
        &_adhesion_type_none {
            background: url("./images/adhesion_type_none.svg") no-repeat 0 0
            background-size: 100%
        }
    }
}
.manager-params-docs {
    min-width: 265px;
}
.hidden-docs {
    width: 1px;
    min-width: 1px !important;
}
.manager-list {
    height: calc(100% - 56px);
}

.manager-action {
    visibility: hidden;
}

.profile-li, .manager-btn {
    &:hover {
        & > .manager-action {
            background: #f00;
            visibility: visible;
        }
    }
}

.config-value-box-wrapper {
    width: calc(100% - 294px);
}

.disable-li {
    pointer-events: none;
}
