@import "../../styles/variables.styl"

table.config-details-table
    color: $desc-text-color
    margin-left: 10px
    font-size: 12px

    td
        height: 28px
        line-height: 13px

    tbody
        &> tr
            &> td:first-child
                width: 180px
