:global(.ant-input-number-group) {
    :global(div.ant-input-number) {
        border-top-left-radius: $px-grade-4;
        border-bottom-left-radius: $px-grade-4;

        :global(.ant-input-number-input):hover {
            cursor: ew-resize
        }

    }
    :global(.ant-input-number-group-addon) {
        border-top-right-radius: $px-grade-4;
        border-bottom-right-radius: $px-grade-4;
        background-color: $white;
    }
}
