@import "../variables";

.lu-navbar {
    height: 50px;
    margin: 0;
    background-color: $background-color;
    border-bottom: 1px solid #e6e6e6;
    box-shadow: 1px 0 3px $shadow-color;
}

.lu-nav {
    :global {
        .nav-item {
            margin: 0 8px;
        }
    }
}

.editor-and-preview {
    position: absolute
    width: 100%
    height: 100%
    pointer-events:none;

    .btn-position {
        position: relative
        pointer-events: auto
        padding: 6px 0
        margin: 0 auto
        width: 220px
        height: 100%
        left: -320px
        background-color: #f8f8f8

        button {
            height: 100%
            width: 110px
            position: relative
            font-size: $font-size-h5
            background-color: #f8f8f8

            &:focus {
                outline: 0
                box-shadow: none
            }
        }

        .selected {
            background-color: #000
            color: #f8f8f8
        }
    }
}

.btn-icon {
    color: #444;

    &:hover,
    &:focus {
        color: #222;
    }
}
