@import "../variables";

.lu-navbar {
    height: 50px;
    margin: 0;
    background-color: $background-color;
    border-bottom: 1px solid #e6e6e6;
    box-shadow: 1px 0 3px $shadow-color;
}

.lu-nav {
    :global {
        .nav-item {
            margin: 0 8px;
        }
    }
}
