.cancel-content-padding {
    :global(.ant-popover-content) {
        :global(.ant-popover-arrow) {
            display: none;
        }
        :global(.ant-popover-inner-content) {
            padding: 0;
        }
    }
}