//@import "../../../styles/variables.styl"
.middle{
    width: 160px!important;
}
.small{
    width: 120px!important;
}
:global(.ant-slider-vertical).slider {
    margin: 10px 6px 10px;
    padding: 4px 0;
    :global(.ant-checkbox-inner) {
        border-radius: 4px;
        border: 1px solid #B9BCBF;
    }
}
:global(.ant-slider){
    color: #EEEFF0;
    :global(.ant-slider-track) {
        background-color: #B9DDFF;
    }
    :global(.ant-slider-handle){
        border: solid 2px #B9DDFF;
    }
    :global(.ant-slider-rail) {
        background-color: #EEEFF0;
    }
}
:global(.ant-slider):hover {
    :global(.ant-slider-rail) {
        background-color: #D5D6D9;
    }
    :global(.ant-slider-track) {
        background-color: #1890FF;
    }
    :global(.ant-slider-handle):not(:global(.ant-tooltip-open)){
        border-color: #1890FF;
    }
}
:global(.ant-slider-disabled) :global(.ant-slider-track) {
    background-color: #D5D6D9!important;
}
:global(.ant-slider-disabled) :global(.ant-slider-handle), :global(.ant-slider-disabled) :global(.ant-slider-dot){
    border-color: #D5D6D9!important;
}
