//@import "../../../styles/variables.styl"

:global(.ant-slider-vertical).slider {
    margin: 10px 6px 10px;
    padding: 4px 0;
    :global(.ant-checkbox-inner) {
        border-radius: 4px;
        border: 1px solid #B9BCBF;
    }
}
