.widget-content {
    position: relative;

    &.hidden {
        display: none;
    }
}

.no-serial-connection {
    padding: 10px;
    color: #333;
    opacity: .65;
}

.terminal-container {
    background: #000;
    height: 260px;
}
