.widget-header {
    position: relative;
}

.widget-header-absolute {
    z-index: 502;
    position: absolute;
    top: 0;
    // bottom: 0;
    left: 0;
    right: 0;
}

.widget-content {
    position: relative;
    z-index: 501;

    &.hidden {
        display: none;
    }
}

.widget-content-absolute {
    position: absolute;
    top: 34px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 501;

    &.hidden {
        display: none;
    }
}
