.machine-setting-container {
    position: relative;
    min-height: 220px;

    .z-axis {
        margin-top: 20px;
    }

    .confirm-btn {
        width: 100px;
        position: absolute;
        right: 5px;
        bottom: 0;
    }
}
