@import "../../../styles/variables.styl"
//@import "../styles.styl"

.input-box-left {
    display: inline-block
    margin-left: 2px
    width: 80px
    height: 30px
}

.input-box-inner-text {
    width: 15px
    text-align: center
}

.text-align-wrap
    float: right
    border: 0

    .text-align-button
        border-radius: 0 !important

        &:first-child
            border-right: 0 !important
            border-top-left-radius: 8px !important
            border-bottom-left-radius: 8px !important

        &:last-child
            border-top-right-radius: 8px !important
            border-bottom-right-radius: 8px !important
            border-left: 0 !important

        &:hover
            background-color: #EEEFF0

        &:pressed
            background-color: #2A2C2E

    .active
        background-color: #D5D6D9 !important;

        &:hover
            background-color: #D5D6D9 !important;

            svg {
                background-color: #D5D6D9 !important;
            }


.trace-title
    display: block
    font: bold 24px "Arial Black", Gadget, sans-serif
    margin: 10px 0
    text-align: center

.trace-status
    float: left
    font: 16px
    margin: 0
    padding: 0

.trace-table
    width: 100%
    float: center
    margin: 10px 0

.trace-td-title
    font: 16px
    width: 10%
    margin: 0
    padding: 0

.trace-td-title-p
    padding: 0

.trace-td-slider
    width: 90%
    margin: 0
    padding: 10px 12px 20px

.trace-td-div
    margin: 0 0 12px 12px
    padding: 6px

.trace-td-image
    padding: 0

.trace-btn-div
    float: right
    margin: 0
    padding: 6px 0

.trace-image-div
    margin: 0
    padding: 0
    float: left

.laser-mode
    .unselected, .selected
        > a
            display: block
            width: 76px
            border-radius: $border-radius
            border: 1px solid #B9BCBF;

            > i
                display: block
                border-radius: $border-radius
                width: 74px
                height: 74px

    .selected
        > a
            border: 1px solid #1890FF;

        > span
            color: #1890FF;

    &__icon-bw
        background: url("../../../resources/images/cnc-laser/laser-mode-bw-88x88.png") no-repeat 0 0
        background-size: 100%

    &__icon-greyscale
        background: url("../../../resources/images/cnc-laser/laser-mode-greyscale-88x88.png") no-repeat 0 0
        background-size: 100%

    &__icon-vector
        background: url("../../../resources/images/cnc-laser/laser-mode-vector-88x88.png") no-repeat 0 0
        background-size: 100%

    &__icon-text
        background: url("../../../resources/images/cnc-laser/laser-mode-text-88x88.png") no-repeat 0 0
        background-size: 100%

    &__icon-halftone
        background: url("../../../resources/images/cnc-laser/laser-mode-halftone-88x88.png") no-repeat 0 0
        background-size: 100%

    &__text
        margin-top: 8px
        float: left
        width: 100%
        text-align: center
        vertical-align: top

.cnc-mode {
    .unselected, .selected {
        > a {
            display: block
            width: 76px
            border-radius: $border-radius
            border: 1px solid #B9BCBF;

            > i {
                display: block
                border-radius: $border-radius
                width: 74px
                height: 74px
            }
        }
    }

    .selected {
        > a {
            border: 1px solid #1890FF;
        }

        > span {
            color: #1890FF;
        }
    }

    &__icon-greyscale {
        background: url("../../../resources/images/cnc-laser/laser-mode-greyscale-88x88.png") no-repeat 0 0
        background-size: 100%
    }

    &__icon-vector {
        background: url("../../../resources/images/cnc-laser/laser-mode-vector-88x88.png") no-repeat 0 0
        background-size: 100%
    }

    &__icon-text {
        background: url("../../../resources/images/cnc-laser/laser-mode-text-88x88.png") no-repeat 0 0
        background-size: 100%
    }

    &__text {
        margin-top: 8px
        float: left
        width: 100%
        text-align: center
        vertical-align: top
    }
}

.icon_size_lock {
    background: url("../../../resources/images/cnc-laser/property-lock-checked-88x88.png") no-repeat 0 0
    background-size: 100%
    background-position: center
    border: 0;
    background-size: 24px;
    border-radius: 4px

    &:hover {
        background-color: #e4e4e4
        opacity(1)
        cursor: pointer;
    }
}

.icon_size_unlock {
    background: url("../../../resources/images/cnc-laser/property-lock-unchecked-88x88.png") no-repeat 0 0
    background-size: 100%
    background-position: center
    border: 0;
    background-size: 24px;
    border-radius: 4px;

    &:hover {
        background-color: #e4e4e4
        opacity(1)
        cursor: pointer;
    }
}

.icon_flip_vertically
    height: 30px
    width: 30px
    display: inline-block
    vertical-align: bottom
    background: url("../../../resources/images/cnc-laser/Flip-vertically-30x30.png") no-repeat 0 0
    background-size: 100%
    background-position: center
    border: 1px solid #C8C8C8
    border-radius: 4px

    &:hover
    &:active
        background-color: #e4e4e4
        opacity(1)

.icon_flip_horizontal
    height: 30px
    width: 30px
    display: inline-block
    vertical-align: bottom
    background: url("../../../resources/images/cnc-laser/horizontal flip_30x30.png") no-repeat 0 0
    background-size: 100%
    background-position: center
    border: 1px solid #C8C8C8
    border-radius: 4px

    &:hover
    &:active
        background-color: #e4e4e4
        opacity(1)

.camera-operation

    .scale-slider
        margin: 0 5px;
        display: inline-block
        height: 12px
        width: 136px
        vertical-align: middle
        text-align: center


.zoom-button {
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;

    &:hover {
        opacity(.5)
    }

    &:active {
        opacity(.3)
    }
}
