.widgets {
    width: 360px;
    min-height: 240px; // Keep a minimum space for dropping widgets
    position: relative;

    :global {
        // Class name for the chosen item
        .sortable-chosen {
            opacity: .8;
        }

        // Class name for the drop placeholder
        .sortable-ghost {
            opacity: .4;
        }
    }
}

.default-widgets
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
