.content-table
    .content-row
        margin 0 auto
        min-width 700px
        overflow hidden

[class='browser-appbar'] {
    .content-table {
        .content-row {
            margin-top 24px
        }
    }
}