.bar-wrapper{
    width: 100%;
    padding: 4px 8px;
    background-color: #FFFFFF;
    .bar-item{
        display: inline-block;
        .bar-icon{
            height: 50px;
            min-height 50px;
            min-width: 64px;
            max-width: 96px;
            padding: 4px 2px 0;
            display: inline-block;
            text-align: center;
            &:hover {
                background #EEEFF0 !important;
            }
        }
        .bar-icon-for-long {
            height: 58px;
            max-width: 120px;
        }
        .separator{
            display: inline-block;
            width: 1px;
            background-color: #D5D6D9;
            vertical-align: top;
            height: 42px;
            margin: 4px 2px;
        }
    }
    .left{
        float: left;
        min-width: 30%;
    }
    .right{
        float: right;
        min-width: 30%;
    }

}

.action-title-for-long {
    font-size: 12px !important;
    white-space: normal;
    line-height: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal !important;
    margin-top: 2px;
}
