.bar-wrapper{
    .bar-item{
        display: inline-block;
        .bar-icon{
            height: 50px
            width: 64px;
            padding: 2px;
            display: inline-block;
            text-align: center;
        }
        .separator{
            display: inline-block;
            width: 1px;
            background-color: #D5D6D9;
            vertical-align: top;
            height: 42px;
            margin: 4px 2px;
        }
    }
    .left{
        float: left;
        min-width: 30%;
    }
    .right{
        float: right;
        min-width: 30%;
    }

}
