.bar-wrapper{
    padding: 10px;
    float: left;
    width: 100%;
    .bar-item{
        display: inline-block;
        .bar-icon{
            height: 40px
            width: 50px;
            display: inline-block;
            text-align: center;
        }
        .separator{
            width: 20px;
            display: inline-block;
        }
    }
    .left{
        float: left;
        min-width: 30%;
    }
    .right{
        float: right;
        min-width: 30%;
    }

}
