@import "../../../styles/variables.styl"
// TODO: refactor;
@import "../../widgets/styles.styl"

[class~='appbar'] {
    .content-flex {
        height: calc(100vh - 90px);
    }
}

.project-layout {
    .main-toolbar {
        width: 100%;
        border-top: 1px solid #f2f2f5;
        border-bottom: 1px solid #f2f2f5;
        background-color: #FFFFFF;
    }

    :global(.ant-spin.ant-spin-spinning) {
        max-height: none;
        height: calc(100vh - 70px)
    }

    .content-flex {
        display: flex;
        height: calc(100vh - 70px);
        overflow: hidden;
        background-color: #F5F5F7; // use the same color as scene background

        .visualizer {
            flex: 1;
            order: 0;
            overflow: hidden;
        }
    }

    .long-lang-content-height {
        height: calc(100vh - 74px);
    }

    .configuration-panel {
        flex: 0 0 auto;
        overflow: auto;
        margin: 8px 8px 8px 0;
        // background-color: #FFFFFF;
        order: 1;
    }
}
