@import "../../../styles/variables.styl"
// TODO: refactor;
@import "../../widgets/styles.styl"

[class='browser-appbar'] {
    .content-flex {
        height: calc(100vh - 85px);
    }
}
.content-flex
    display: flex;
    height: calc(100vh - 61px);
    overflow: hidden;
.main-bar
    width: 100%;
.visualizer
    flex: 1;
    order: 0;
.controls
    flex: 0 0 auto;
    padding: 10px 6px;
    background-color: $background-color;
    border-left: 1px solid $border-color;
    overflow: auto;
    height: 100%;
.sub-bar
    flex: 0 0 auto;
    order: -1;
    background-color: $sidebar-background-color
    border-right: 1px solid $border-color
    box-shadow: 1px 0 3px $shadow-color
.controls-right
    //width: $controls-width;
    order: 1;
