@import "../../../styles/variables.styl"
// TODO: refactor;
@import "../../widgets/styles.styl"

[class~='appbar'] {
    .content-flex {
        height: calc(100vh - 90px);
    }
}
.content-flex
    display: flex;
    height: calc(100vh - 66px);
    overflow: hidden;
    background-color: #F5F5F7;
    .visualizer
        flex: 1;
        order: 0;
        overflow: hidden
.long-lang-content-height 
    height: calc(100vh - 74px);
.main-bar
    width: 100%;
    padding: 4px 8px;
    background-color: #FFFFFF;
.controls
    flex: 0 0 auto;
    overflow: auto;
    //height: 100%;
.sub-bar
    flex: 0 0 auto;
    order: -1;
    background-color: $sidebar-background-color
    border-right: 1px solid $border-color
    box-shadow: 1px 0 3px $shadow-color
.controls-right
    margin: 8px 8px 8px 8px;
    background-color: #FFFFFF;
    order: 1;