@import '../../../styles/variables.styl';

.workspace {
    .workspace-table {
        display: flex;
        height: calc(100vh - 74px);
        overflow: hidden;
        background-color: #F5F5F7;
    }

    .workspace-table-for-long-lang {
        height: calc(100vh - 74px);
    }

    .main-bar {
        width: 100%;
        padding: 4px 8px;
        background-color: #FFFFFF;
    }

    .secondary-container {
        flex: 0 0 auto;
        padding: 10px 6px;
        background-color: $background-color;
        border-left: 1px solid $border-color;
        overflow: auto;
        height: 100%;
        order: 1;
    }

    .visualizer {
        flex: 1;
        order: 0;
    }
}

[class~='appbar'] {
    .workspace {
        .workspace-table {
            height: calc(100vh - 90px);
        }
    }
}
