@import "../../../styles/variables.styl"

[class='browser-appbar'] {
    .workspace {
        padding-top: 12px;
        .workspace-table {
            height: calc(100vh - 128px);
        }
    }
}

.workspace {
    .workspace-table {
        display: flex;
        height: calc(100vh - 61px);
        overflow: hidden;
    }

    .primary-container {
        flex: 0 0 auto;
        padding: 10px 6px;
        background-color: $background-color;
        border-left: 1px solid $border-color;
        //overflow: auto;
        overflow-x: hidden;
        height: 100%;
        order: -1;
        .primary-wrapper{
            position: relative
        }
    }
    .secondary-container {
        flex: 0 0 auto;
        padding: 10px 6px;
        background-color: $background-color;
        border-left: 1px solid $border-color;
        overflow: auto;
        height: 100%;
        order: 1;
        .secondary-wrapper{
            position: relative
        }
    }
    .visualizer{
        flex: 1;
        order: 0;
    }
    .primary-toggler,
    .secondary-toggler {
        z-index: 10;
        width: 12px;
        position: absolute;
        top: 50vh;
        height: 30px;
        background: transparent;

        button {
            padding: 0 1px;
            border: 0;
            border-radius: 0;
            background: transparent;
            height: 30px;
            top: 0;
            bottom: 0;
            margin: auto;
            position: absolute;
        }
    }
    .primary-toggler {
        right: -6px;
        button {
            border-top: 1px solid #ccc;
            border-right: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
        }
    }
    .secondary-toggler {
        left: -6px;
        button {
            border-top: 1px solid #ccc;
            border-left: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
        }
    }


    .default-container {
        min-width: 360px;
    }
}
