.learn-more {
    color: #0060AC;
    font-size: 14px;

    > * {
        vertical-align: middle;
    }
}

.label {
    display: inline-block;
    color: #0060AC;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 3px;
    border-color: #8daed9;
    padding: 4px 8px;
}

.aboutContainer {
    margin-top: 0;
    align-items: center;
    display: flex;

    .productLogo {
        width: 96px;
    }

    .productDetails {
        margin-left: 10px;

        .aboutProductName {
            font-size: 18px;
        }
        .aboutProductDescription {
            margin-bottom: 10px;
        }
    }
}

.helpContainer {
    margin-top: 15px;
}
