.widget-header {
    position: relative;
}

.widget-header-absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.widget-content {
    position: relative;

    &.hidden {
        display: none;
    }
}

.widget-content-absolute {
    position: absolute;
    top: 34px;
    bottom: 0;
    left: 0;
    right: 0;

    &.hidden {
        display: none;
    }
}

.terminal-content {
    position: relative;
    overflow-x: hidden;
}

.terminal-content-absolute {
    position: absolute;
    z-index: 1000
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
}
