@import "../../../styles/global-var.styl";

.material-item {
    position: relative;
    .material-more-action {
        position: absolute;
        visibility hidden
        right: 18px;
        background: transparent;
    }
    &:hover {
        .material-more-action {
            visibility: visible;
        }
        background: $blue-6;
    }
}
.custom-message {
    padding: 6px;
   :global(.ant-message-info)  :global(.anticon){
        font-size: 24px!important;
        top: -3px!important;
   }
}

.diameter-item-wrapper {
    &:hover {
        background: $blue-6;
    }
}
.diameter-item {
    .close-icon {
        visibility: hidden;
    }
    &:hover {
        .close-icon {
            visibility visible
        }
    }
}

.add-nozzle-diameter-input {
    &:hover {
        border-color: $blue-2;
    }
}
