.material-item {
    position: relative;
    .material-more-action {
        position: absolute;
        visibility hidden
        right: 18px;
        background: #ffffff;
    }
    &:hover {
        .material-more-action {
            visibility: visible;
        }
    }
}
