.custom-card {
    :global(.ant-card.ant-card-bordered.ant-card-small) {
        border-radius: 8px;
        border: 1px solid #D5D6D9; // grey 1

        :global(.ant-card-head) {
            padding: 0 8px;

            :global(.ant-card-head-title) {
                padding-left: 0;
            }

            :global(.ant-card-extra) {
                padding: 0;
            }
        }

        :global(.ant-card-body) {
            padding: 0;
            margin: 0;
        }
    }
}
