{
    "extends": "trendmicro",
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true
    },
    "settings": {
        "import/resolver": {
            "webpack": {
                "config": "../webpack.webconfig.production.js"
            }
        }
    },
    "rules": {
        "no-var": "error",
        "spaced-comment": [1, "always"],
        "no-multi-str": 0,
        "import/extensions": ["error", "never", {
            "styl": "always",
            "json": "always"
        }],
        "react/jsx-no-bind": [1, {
            "allowArrowFunctions": true
        }],
        "react/prefer-stateless-function": 0,
        "react/no-access-state-in-setstate": 0
    }
}
