[submodule "resources/luban-case-library"]
	path = resources/luban-case-library
	url = https://github.com/parachvte/luban-case-library
[submodule "resources/ProfileDocs"]
	path = resources/ProfileDocs
	url = https://github.com/parachvte/ProfileDocs
[submodule "packages/snapmaker-luban-print-settings"]
	path = packages/snapmaker-luban-print-settings
	url = git@github.com:Snapmaker/snapmaker-luban-print-settings.git
