[submodule "resources/luban-case-library"]
	path = resources/luban-case-library
	url = https://github.com/michaelestermann/luban-case-library.git
[submodule "packages/luban-print-settings"]
	path = packages/luban-print-settings
	url = https://github.com/michaelestermann/luban-print-settings.git
[submodule "packages/luban-print-settings-docs"]
	path = packages/luban-print-settings-docs
	url = https://github.com/michaelestermann/luban-print-settings-docs.git
