[submodule "resources/luban-case-library"]
	path = resources/luban-case-library
	url = https://github.com/jane-rose/luban-case-library
[submodule "src/server/lib/SACP-SDK"]
	path = src/server/lib/SACP-SDK
	url = https://github.com/Snapmaker/SACP-SDK.git
