@import "../../styles/variables"
@import "../styles.styl"
.manager-icon {
    width: 32px;
    height: 32px;
    margin-bottom: 10px;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #C8C8C8;
    display: inline-block;
    vertical-align: middle;
    margin-left: 11px;
    background: url("../../images/18x18/printing-manager_18x18@2x.png") no-repeat center/18px 18px
}
.select-tools
    // cancel out last right padding
    margin: 0 -15px 0 0

    .select-tool
        display: inline-block
        padding: 0 18px 15px 0
        width: 25%

        .select-tool-btn
            display: block
            border-radius: $border-radius
            border: 1px solid $grey-color2

            > img
                border-radius: $border-radius
                width: 100%

            &.selected
                border: 2px solid $dark-blue-color

        .select-tool-text
            margin-top: 8px
            float: left
            width: 100%
            text-align: center
