
:global(div.ant-segmented).small {
    border-radius: 8px;

    :global(label.ant-segmented-item) {
        border-radius: 8px;
        margin: 2px;
    }
}

:global(div.ant-segmented).middle {
    border-radius: 12px;

    :global(label.ant-segmented-item) {
        border-radius: 16px;
        margin: 4px;
    }
}
:global(.ant-segmented) {
    box-shadow: none!important;
    background-color: #F5F5F7;
    :global(label.ant-segmented-item) {
        margin-bottom: 0;
    }
}

:global(.ant-segmented):hover, :global(.ant-segmented:focus) {
    background-color: #EEEFF0!important;
}
