@import "../../../styles/global-var";

:global(div.ant-segmented).small {
    border-radius: $px-grade-4!important;

    :global(label.ant-segmented-item) {
        border-radius: $px-grade-4!important;
        margin: $px-grade-1!important;
    }
}

:global(div.ant-segmented).middle {
    border-radius: $px-grade-6!important;

    :global(label.ant-segmented-item) {
        border-radius: $px-grade-8!important;
        margin: $px-grade-2!important;
    }
}
:global(.ant-segmented) {
    box-shadow: none!important;
    background-color: $grey-3!important;
    :global(label.ant-segmented-item) {
        margin-bottom: 0!important;
    }
}

:global(.ant-segmented):hover, :global(.ant-segmented:focus) {
    background-color: $grey-2!important;
}

:global(div.ant-segmented-thumb) {
    border-radius: 8px;
    height: calc(100% - 4px);
    margin-top: 2px;
}
