@import "../../../../styles/global-var.styl"

.rotation-analysis {
    background: $white;
    box-shadow: rgb(134 134 139) 0px 0px 20px -10px;
    border-radius: 8px;
    position: absolute;
    left: 72px;
    overflow: hidden;
    color: $black-3;
    & header {
        padding: 10px 16px;
        border-bottom: 1px solid $grey-1;
    }
    & section {
        height: 216px;
        margin: 15px 16px 24px;
        border: 1px solid $grey-1;
        border-radius: 8px;
        overflow: hidden;
    }
    & table {
        & thead {
            border-bottom: 1px solid $grey-1;
            & > tr > th {
                cursor: default;
                &:first-child {
                    padding-left: 16px;
                }
                &:last-child {
                    padding-right: 16px;
                }
                & .th-title {
                    display: inline-block;
                    vertical-align: middle;
                }
                & .scrollbar {
                    width : 17px;
                    padding: 0;
                }
                & .sort {
                    width: 10px;
                    height: 20px;
                    display: inline-block;
                    vertical-align: middle;
                    position: relative;
                    overflow: hidden;
                    margin-left: 8px;
                    &.asc::before,
                    &.desc::after {
                        border-color: $blue-2;
                    }
                    &::before {
                        content: '';
                        display: inline-block;
                        border: 5px solid $grey-1;
                        border-left-color: transparent !important;
                        border-right-color: transparent !important;
                        border-top-color: transparent !important;
                        top: 0;
                        left: 0;
                        position: absolute;
                    }
                    &::after {
                        content: '';
                        display: inline-block;
                        border: 5px solid $grey-1;
                        border-left-color: transparent !important;
                        border-right-color: transparent !important;
                        border-bottom-color: transparent !important;
                        position: relative;
                        top: 5px;
                        left: 0;
                    }
                }
            }
        }
        & thead > tr > th,
        & tbody > tr > td {
            padding: 6px 8px;
            white-space: nowrap;
        }
        & tbody > tr {
            & > td {
                &:first-child {
                    padding-left: 16px;
                }
                &:last-child {
                    padding-right: 16px;
                }
            }
            cursor: pointer;
            transition: background 0.3s;
            &:hover {
                background: $grey-2;
            }
            &.selected {
                background: $blue-6;
            }
        }
    }
    & footer {
        background-color: rgb(245, 245, 247);
        padding: 8px 24px;
        text-align: right;
    }
    & .scroll {
        height: 178px;
        overflow-y: auto;
    }
}
