@import "../../../styles/global-var.styl";

:global(ul.ant-dropdown-menu) {
    border-radius: 8px;
    box-shadow: 0 2px 8px 0 #86868B42;
}

:global(li.ant-dropdown-menu-item):hover {
    background: $grey-2;
}

:global(li.ant-dropdown-menu-item) {
    color: $black-3;
}

:global(li.ant-dropdown-menu-item-disabled) {
    color: $black-5;
}

:global(li.ant-dropdown-menu-item-disabled):hover {
    background-color: $white;
    color: $black-5;
}

// item group
:global(li.ant-dropdown-menu-item-group) {
    :global(.ant-dropdown-menu-item-group-title) {
        color: $black-1;
    }
}
