@import "../styles.styl"

.test-laser-instruction-content {
    padding: 15px
}

.test-laser-instruction-step {
    width: 30%
    float: left
    margin-right: 3%

    > img {
        width: 100%
    }

    > p {
        padding: 10px 0
    }

    b {
        color: #28a7e1;
    }
}


.btn-test-laser-focus-z-normal
    width: 25px
    height: 25px
    background-color: $white-color
    border-width: 2px
    border-style: solid
    border-color: $grey-color2
    border-radius: 4px;
    outline: 0

    &:active
        border-color: #1890FF

// $blue 2

.btn-test-laser-focus-z-selected
    width: 25px;
    height: 25px;
    background-color: $white-color;
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
    border-color: #1890FF // $blue 2
    outline: 0;

.text-test-laser-focus-z-value-normal {
    margin-bottom: 0;
    margin-top: 0;
    color: $grey-color2;

    &:active {
        color: $dark-blue-color;
    }
}

.text-test-laser-focus-z-value-selected {
    margin-bottom: 0
    margin-top: 0
    color: $dark-blue-color
}
