.laser-table {
    display: table;
    width: 100%;
    height: 'calc(100vh - %s)' % (50px);
}
.laser-table-row {
    display: table-row;
}

.view-space {
  position: fixed;
  left: 60px;
  right: 360px;
  top: 50px;
  bottom: 0;
  border-right: 1px solid #ccc;
  display: table-cell;
}

.control-bar {
  width: 360px;
  right: 0px;
  min-width: 360px;
  max-width: 360px;
  padding: 20px;
  background-color: #f6f7f8;
  display: table-cell;
}

.entry-row {
  margin-bottom: 30px;
}

.param-table {
    width: 100%;
    :global {
        td:first-child {
            width: 30%;
        }
    }
}

.warn-info {
    :global {
    }
}
