$dark = #282828
$white = #FFF

$background-color = #fafafa
$border-color = #e6e6e6
$shadow-color = rgba(40, 40, 40, .35)

// elements
$navbar-height = 50px

$sidebar-background-color = $background-color
$sidebar-width = 80px

$content-background-color = #fff
$content-min-width = 720px
