@import "../../styles/variables.styl"
// TODO: refactor
@import "../../widgets/styles.styl"


.content-table
    display: table
    width: 100%
    height: 'calc(100vh - %s)' % $navbar-height

.content-row
    display: table-row
.main-bar
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 50px
.visualizer
    display: table-cell
    position: fixed
    top: $navbar-height
    left: $sidebar-width
    right: $controls-width
    bottom: 0

.controls
    display: block
    width: $controls-width
    min-width: $controls-width
    max-width: $controls-width
    padding: 10px 6px
    background-color: $background-color
    border-left: 1px solid $border-color
    overflow: auto;
    height: 100%;
.controls-left
    float: left
.controls-right
    float: right
