@import "../../styles/variables.styl"

.workspace {
    .workspace-table {
        display: table;
        width: 100%;
        height: 'calc(100vh - %s)' % ($navbar-height);
    }
    .workspace-table-row {
        display: table-row;
    }

    .primary-toggler,
    .secondary-toggler,
    .default-container {
        display: table-cell;
        position: relative;
    }
    .primary-container {
        border-right: 1px solid #ccc;
    }
    .secondary-container {
        border-left: 1px solid #ccc;
    }
    .primary-container {
        vertical-align: top;
        background-color: #f6f7f8;
        width: 360px;
        max-width: 360px;
        min-width: 360px;
        padding: 10px 6px 10px 6px;
        display: block;
        overflow: auto;
        height: 100%;
        position: absolute;
        left: 0;

        &.hidden {
            display: none;
        }

        .toolbar {
            clearfix();
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
    .secondary-container {
        z-index: 20;
        vertical-align: top;
        background-color: #f6f7f8;
        width: 360px;
        max-width: 360px;
        min-width: 360px;
        padding: 10px 10px 10px 6px;
        display: block;
        overflow: auto;
        height: 100%;
        position: absolute;
        right: 0;

        &.hidden {
            display: none;
        }

        .toolbar {
            clearfix();
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
    .primary-toggler,
    .secondary-toggler {
        z-index: 10;
        width: 12px;
        position: fixed;
        top: 50%;
        height: 30px;
        background: transparent;

        button {
            padding: 0 1px;
            border: 0;
            border-radius: 0;
            background: transparent;
            height: 30px;
            top: 0;
            bottom: 0;
            margin: auto;
            position: absolute;
        }
    }
    .primary-toggler {
        left: $controls-width;
        button {
            border-top: 1px solid #ccc;
            border-right: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
        }
    }
    .secondary-toggler {
        right: $controls-width;
        button {
            border-top: 1px solid #ccc;
            border-left: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
        }
    }


    .default-container {
        min-width: 360px;

        &.fixed {
            position: fixed;
            left: 360px;
            right: 360px;
            top: $navbar-height;
            bottom: 0;
        }
    }
}
