@import "../../styles/variables.styl"


.icon-24
    display: inline-block
    width: 24px
    height: 24px

.icon-plus
    background-image: url("../../images/24x24/ic_plus_24x24.png")

.icon-tick
    background-image: url("../../images/24x24/ic_wifi_selected_straight.png")

.gcode-file
    display: block
    margin-bottom: 6px
    border: 1px solid
    border-color: $grey-color2
    border-radius: $border-radius
    height: 50px
    padding: 6px

    &.selected
        border-color: $blue-color
        background-image: url("../../images/24x24/ic_wifi_selected_straight.png")
        background-repeat: no-repeat
        -webkit-background-size: 24px
        background-size: 24px
        background-position: 292px 24px

    &-img
        display: inline-block
        height: 100%
        width: 54px
        vertical-align: top
        margin-right: 6px

        img
            height:100%

    &-text
        display: inline-block
        height: 100%
        width: 60%
        white-space: nowrap

        &-name
            font-size: 14px
        &-info
            font-size: 12px
            color: $grey-color
            vertical-align: bottom

            span
                margin-right: 12px


.gcode-file-upload
    background-color: $grey-color3
    text-align: center
    vertical-align: middle
    line-height: 40px
    font-size: $font-size-large

    i
        position: absolute
        top: 32px;
        left: 102px;
