@import "../../styles/variables.styl"

.gcode-file
    display: block
    margin-bottom: 6px
    border: 1px solid
    border-color: $grey-color2
    border-radius: $border-radius
    height: 50px
    padding: 6px

    &.selected
        border-color: $blue-color

    &-img
        display: inline-block
        height: 100%
        width: 54px
        vertical-align: top
        margin-right: 6px

        img
            height:100%

    &-text
        display: inline-block
        height: 100%
        width: 60%
        white-space: nowrap

        &-name
            font-size: 14px
        &-info
            font-size: 12px
            color: $grey-color
            vertical-align: bottom

            span
                margin-right: 12px
