@import '../../../styles/global-var.styl';

.object-list-box {
    max-height: 176px;
    overflow-y: auto;
    //margin: 4px 0;
    //padding-top: 4px;
}

.object-list-item {
    padding: 4px 0;

    &.selected {
        background-color: $background-color-selected;
    }

    &:not(.selected):hover {
        background-color: #EEEFF0;
    }

    .process {
        padding: 0 12px;
    }

    .prefix-name {
        display: inline-block
        vertical-align: middle
        max-width: 85%;
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
    }

    .suffix-name {
        display: inline-block
        vertical-align: middle
    }

    .icon {
        box-sizing: content-box;
        display: inline-block;
        width: 24px;
        height: 24px;
        vertical-align: middle;
        margin: 0 4px;
    }

    .icon-shape {
        background: url("images/list_ic_shape_18x18@2x.png") no-repeat center center
        display: inline-block
    }

    .icon-pic {
        background: url("images/list_ic_pic_18x18@2x.png") no-repeat center center
        display: inline-block
    }

    .icon-text {
        background: url("images/list_ic_text_18x18@2x.png") no-repeat center center
        display: inline-block
    }

    .icon-check {
        background: url("images/ic_box_check_14x14.png") no-repeat center center
        background-size: 18px
        display: inline-block
    }

    .icon-uncheck {
        background: url("images/ic_box_uncheck_14x14.png") no-repeat center center
        background-size: 18px
        display: inline-block
    }

    .icon-running {
        background: url("images/list_ic_running_18x18@2x.png") no-repeat center center
        background-size: 18px
        display: inline-block
    }

    .icon-warning {
        background: url("images/list_ic_warning_18x18@2x.png") no-repeat center center
        background-size: 18px
        display: inline-block
    }

    .icon-error {
        background: url("images/list_ic_error_18x18@2x.png") no-repeat center center
        background-size: 18px
        display: inline-block
    }
}
