
.tool-path-wrapper {
    .icon {
        box-sizing: content-box;
        display: inline-block;
        width: 24px;
        height: 24px;
        vertical-align: middle;
        margin: 0 4px;
        &.icon-refresh {
            background: url("images/list_ic_refresh_18x18@2x.png") no-repeat center center
            background-size: 18px
            display: inline-block
        }

        &.icon-delete {
            background: url("images/list_ic_delete_18x18@2x.png") no-repeat center center
            background-size: 18px
            display: inline-block
        }

        &.icon-edit {
            background: url("images/list_ic_edit_18x18@2x.png") no-repeat center center
            background-size: 18px
            display: inline-block
        }

        &.icon-up {
            background: url("images/list_ic_up_normal_18x18@2x.png") no-repeat center center
            background-size: 18px
            display: inline-block
        }

        &.icon-down {
            background: url("images/list_ic_down_disable_18x18@2x.png") no-repeat center center
            background-size: 18px
            display: inline-block
        }
    }
}
.object-list-box{
    max-height: 160px;
    overflow-y: auto;
    margin: 4px 0;
}
.object-list-item {
    padding: 4px 0;
    &.selected {
        background-color: #E7F3FF;
    }
    &:not(.selected):hover {
        background-color: #EEEFF0;
    }
    .process{
        padding: 0 12px;
    }

    .prefix-name {
        display: inline-block
        vertical-align: middle
        max-width: 65%
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
    }

    .suffix-name {
        display: inline-block
        vertical-align: middle
    }

    .icon-shape {
        background: url("images/list_ic_shape_18x18@2x.png") no-repeat center center
        display: inline-block
    }

    .icon-pic {
        background: url("images/list_ic_pic_18x18@2x.png") no-repeat center center
        display: inline-block
    }

    .icon-text {
        background: url("images/list_ic_text_18x18@2x.png") no-repeat center center
        display: inline-block
    }

    .icon-check {
        background: url("images/ic_box_check_14x14.png") no-repeat center center
        background-size: 18px
        display: inline-block
    }

    .icon-uncheck {
        background: url("images/ic_box_uncheck_14x14.png") no-repeat center center
        background-size: 18px
        display: inline-block
    }

    .icon-running {
        background: url("images/list_ic_running_18x18@2x.png") no-repeat center center
        background-size: 18px
        display: inline-block
    }

    .icon-warning {
        background: url("images/list_ic_warning_18x18@2x.png") no-repeat center center
        background-size: 18px
        display: inline-block
    }

    .icon-error {
        background: url("images/list_ic_error_18x18@2x.png") no-repeat center center
        background-size: 18px
        display: inline-block
    }
}
