// https://stackoverflow.com/questions/1260122/expand-a-div-to-take-the-remaining-width
// Block Formatting Context (BFC)
.expandable-start
.expandable-end
    .expandable-title
        height: 100%
        float: left

    .expandable-separator
        width: auto
        height: 21px
        overflow: hidden

    .expandable-separator-inner
        height: 1px
        width: 100%
        background-color: #c8c8c8
        transform: translate(0, 10px)

    &.show
        margin-bottom: 10px

.expandable-start
    .expandable-separator-inner
        margin-left: 10px

.icon
    display: inline-block
    width: 14px
    height: 14px
    margin: 4px 4px -2px 4px

    &.icon-checked
        background-image: url("./images/checked-on-14x14.png")
    &.icon-unchecked
        background-image: url("./images/checked-off-14x14.png")
