@import "../styles.styl";

.btn-upload
    height: $btn-size-small
    min-width: 120px
    background-color: $btn-default-background-color-hover
    color: $btn-default-color-hover
    border-color: transparent
    float: left

    &:hover
        background-color: $dark-blue-color
    &:active
        opacity(.3)


.workflow-control {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;

    :global {
        .btn-group {
            background-color: #fff;
        }
    }
}
