@import '../../../styles/global-var.styl';
@import "../../../styles/variables.styl"

.manager-body {
    text-align: left;

    .manager-type-wrapper {
        padding: 0 20px
        border-bottom: 1px #c8c8c8 solid
        text-align: left

        .manager-type {
            display: inline-block
            line-height: 25px
            padding-bottom: 9px
            height: 36px;
            font-size: 18px;
            font-weight: 500;

            &.selected {
                color: #28A7E1;
                border-bottom: 2px #28A7E1 solid;
            }
        }
    }

    .manager-content {
        padding: 20px;

        .manager-name {
            width: 36%
            margin-right: 10px
            display: inline-block
            vertical-align: top

            .manager-name-wrapper {
                list-style: none
                background: #FFFFFF;
                padding: 0;
                margin: 0;
                height: 363px;
                overflow-y: scroll;
                border: 1px solid #c8c8c8;
                border-bottom: 0;

                .manager-btn {
                    display: inline-block
                    height: 32px
                    line-height: 32px;
                    padding-left: 10px;
                    width: 100%;
                    text-align: left;

                    &.selected {
                        background-color: $background-color-selected;
                    }
                }
            }

            .manager-file {
                width: 50%;
                border-radius: 0;

                &:hover {
                    color: #28A7E1
                }
            }
        }

        .manager-details {
            width: 62%
            height: 393px;
            overflow-y: scroll;
            display: inline-block;
            border: 1px solid #c8c8c8;
            padding: 10px 10px 20px;
            text-align: left
        }
    }

    .manager-settings {
        padding: 0 20px;
        background: #F6F7F8;

        .manager-settings-btn {
            padding: 9px 0;

            a {
                box-sizing: content-box;
                height: 24px;
                line-height: 24px;
                padding: 5px 30px
            }
        }

        .manager-settings-operate {
            float: left;
        }

        .manager-settings-save {
            float: right;
        }
    }
}
