@import "../../styles/variables"
@import "../styles.styl"


.select-tools
    // cancel out last right padding
    margin: 0 -15px 0 0

    .select-tool
        display: inline-block
        padding: 0 18px 15px 0
        width: 33%

        .select-tool-btn
            display: block
            border-radius: $border-radius
            border: 1px solid $light-grey-color

            > img
                border-radius: $border-radius

            &.selected
                border: 2px solid $dark-blue-color

        .select-tool-text
            margin-top: 8px
            float: left
            width: 100%
            text-align: center
