.lu-logo-container {
    float: left;
    .logo {
        background-image: url('../../../../resources/images/snap-logo-badge-256x256.png');
        width: 80px;
        height: 80px;
        display: inline-block;
        background-size: 100%;
    }
}
.lu-version {
    float: right;
    width: calc(100% - 100px);
    .autoupdate-auto {
        margin-top: 20px;
    }
}
.autoupdate-update {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 24px;
    .autoupdate-button {
        width: 90%;
    }
}