// @import "../styles.styl"
@import '../../../styles/global-var.styl';

.object-list-view {
    .object-tree {
        max-height: 220px;
        overflow: auto;
    }

    .extruder-icon {
        justify-content: center;
        align-items: center;
        align-content: center;
        display: flex;

        .hover-tip {
            width: 0;
            height: 10px;
            transition: width .2s;
            overflow: hidden;
            position: relative;
            left: -2px;
            display: inline-block;
        }

        &:hover .hover-tip {
            width: 10px;
            line-height: 10px;
        }
    }

    .brush-icon {
        justify-content: center;
        align-items: center;
        align-content: center;
        display: flex;

        .hover-tip {
            width: 0;
            height: 10px;
            transition: width .2s;
            overflow: hidden;
            position: relative;
            left: -2px;
            display: inline-block;
        }

        &:hover .hover-tip {
            width: 10px;
            line-height: 10px;
        }
    }
}

// style for object list item
.object-list-item {
    .object-list-item-cell {
        background-color: #FFFFFF;
        background-size: 24px;
        position: relative;

        &.selected {
            background-color: $background-color-selected;
        }

        &:not(.selected):hover {
            background-color: #EEEFF0;
        }

        .bt {
            &:hover {
                opacity(1);
            }

            &:active {
                opacity(.3);
            }
        }

        .name {
            vertical-align: middle;
            line-height: 38px;
            height: 36px;
            display: inline-block;
            width: calc(100% - 36px);
            max-width: 270px;
        }

        .prefix-name, .suffix-name {
            display: inline-block;
            vertical-align: middle;
        }

        .prefix-name {
            max-width: 57%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .icon {
            vertical-align: middle;
            box-sizing: content-box;
            display: inline-block;
            width: 24px;
            height: 24px;
            margin-right: 4px;

            &.icon-shape {
                background: url('images/list_ic_3d_18x18.png') no-repeat center center;
                display: inline-block;
            }

            &.icon-hide-open, &.icon-hide-close {
                margin-right: 8px;
                border: 0;
                // position: absolute
                // right: 0
            }

            &.icon-hide-open {
                background: url('images/list_ic_open_18x18@2x.png') no-repeat center center;
            }

            &.icon-hide-close {
                background: url('images/list_ic_close_18x18@2x.png') no-repeat center center;
            }
        }
    }
}

// overwrite dropdown menu
.dropdown-menu-horizontal {
    &:global(.ant-dropdown-menu) {
        display: flex;
        flex-direction: row;
    }
}
