@import "../styles.styl"

$z-index-float = 500
$padding = 15px

.canvas
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0

.visualizer-top-left
    position: absolute
    top: $padding
    left: $padding
    z-index: $z-index-float

    // opposite to btn-small
    .btn-upload
        height: $btn-size-small
        width: 120px
        background-color: $btn-background-color-small-hover
        color: $btn-color-small-hover
        border-color: transparent
        float: left

        &:hover
            background-color: $dark-blue-color
        &:active
            opacity(.3)

    .btn-top-left
        display: inline-block
        position: relative
        float: left
        width: 60px
        height: 30px
        background-color: $background-color
        margin-left: 10px
        padding: 0
        border-radius: $border-radius

        .btn-undo
        .btn-redo
        .btn-reset
            width: 14px
            height: 14px
            margin-left: 23px
        .btn-undo
            background: url("/images/14x14/undo-normal.png") no-repeat 0 0
        .btn-redo
            background: url("/images/14x14/redo-normal.png") no-repeat 0 0
        .btn-reset
            background: url("/images/14x14/reset-normal.png") no-repeat 0 0
        &:hover
            background-color: $btn-background-color-small-hover
            .btn-undo
                background: url("/images/14x14/undo-hover.png") no-repeat 0 0
            .btn-redo
                background: url("/images/14x14/redo-hover.png") no-repeat 0 0
            .btn-reset
                background: url("/images/14x14/reset-hover.png") no-repeat 0 0
        &:disabled
            opacity(50%)
            .btn-undo
                background: url("/images/14x14/undo-disable.png") no-repeat 0 0
            .btn-redo
                background: url("/images/14x14/redo-disable.png") no-repeat 0 0
            .btn-reset
                background: url("/images/14x14/reset-disable.png") no-repeat 0 0

.visualizer-model-operations
    z-index: $z-index-float
    position: absolute
    left: $padding
    top: 50%
    transform: translate(0, -50%)
    background-color: $background-color

    > .model-operation
        display: block
        width: 56px
        height: 64px
        position: relative
        vertical-align: middle

        &:hover
            background-color: $blue-color

        .icon
            width: 48px
            height: 48px
            position: absolute
            top: 10px
            left: 10px

            &.icon-move
                background: url('/images/48x48/icon-move-normal-48x48.png') no-repeat 0 0
                border-radius: $border-radius
                &:hover
                    background: url('/images/48x48/icon-move-hover-48x48.png') no-repeat 0 0
                &:disabled
                    background: url('/images/48x48/icon-move-disabled-48x48.png') no-repeat 0 0

            &.icon-scale
                background: url('/images/48x48/icon-scale-normal-48x48.png') no-repeat 0 0
                &:hover
                    background: url('/images/48x48/icon-scale-hover-48x48.png') no-repeat 0 0
                &:disabled
                    background: url('/images/48x48/icon-scale-disabled-48x48.png') no-repeat 0 0

            &.icon-rotate
                background: url('/images/48x48/icon-rotate-normal-48x48.png') no-repeat 0 0
                &:hover
                    background: url('/images/48x48/icon-rotate-hover-48x48.png') no-repeat 0 0
                &:disabled
                    background: url('/images/48x48/icon-rotate-disabled-48x48.png') no-repeat 0 0

    > .panel
        background-color: $background-color
        display: block
        width: 280px
        height: 166px
        position: absolute
        left: 80px
        transform: translate(0, -50%)

        &.move-panel
            top: 30%
        &.scale-panel
            top: 50%
            height: 66px
        &.rotate-panel
            top: 70%

        .axis
            margin: 16px 0
            height: 34px
            width: 100%
            position: relative
        .axis-green
            color: #22ac38
        .axis-red
            color: #e93100
        .axis-blue
            color: #00b7ee
        .axis-label
            display: inline-block
            width: 54px
            height: 34px
            line-height: 34px
            text-align: center
            font-size: 18px
            float: left
        .axis-slider
            margin-left: $padding
            display: inline-block
            width: 110px

        // move
        // axis-input-1 for move panel
        .axis-input-1
            display: inline-block
            > input
                width: 80px
        .axis-unit-1
            position: absolute
            float: left
            top: 6px
            left: 108px
            color: $grey-color

        // scale
        .axis-unit-2
            position: absolute
            float: left
            top: 6px
            left: 112px
            color: $grey-color

        // rotate
        // axis-input-2 for rotate panel
        .axis-input-2
            display: inline-block
            float: left
            > input
                width: 124px
        .axis-unit-3
            position: absolute
            float: left
            top: 6px
            left: 210px
            color: $grey-color
        .axis-plus
        .axis-minus
            width: 34px
            height: 34px
            line-height: 34px
            text-align: center
            border: 1px solid $border-color
            border-radius: $border-radius
            float: left
        .axis-plus
            margin-right: 10px
        .axis-minus
            margin-left: 10px

.visualizer-camera-operations
    z-index: $z-index-float
    position: absolute
    right: $padding
    top: $padding

    .zoom-in
    .zoom-out
    .turn-left
    .turn-right
    .turn-up
    .turn-down
    .camera-reset
        display: block
        width: 28px
        height: 28px
        line-height: 28px
        text-align: center
        background-color: $background-color

        &:hover
            opacity(.5)
        &:active
            opacity(.3)

    .turn-left
    .turn-right
    .turn-up
    .turn-down
        font-size: 22px

    .zoom-in
        margin-top: 14px
        margin-right: $padding
        border-top-left-radius: $border-radius
        border-top-right-radius: $border-radius
    .zoom-out
        margin-right: $padding
        border-bottom-left-radius: $border-radius
        border-bottom-right-radius: $border-radius
    .turn-left
        margin-top: 28px
        border-top-left-radius: $border-radius
        border-bottom-left-radius: $border-radius
    .turn-right
        margin-top: 28px
        border-top-right-radius: $border-radius
        border-bottom-right-radius: $border-radius
    .turn-up
        border-top-left-radius: $border-radius
        border-top-right-radius: $border-radius
    .turn-down
        border-down-left-radius: $border-radius
        border-down-right-radius: $border-radius

    .steering-meter
        float: right

.visualizer-preview-control
    z-index: $z-index-float
    position: absolute
    right: $padding - 5px
    top: 50%
    transform: translate(0, -50%)

    .toggle-left
        display: block
        width: 28px
        height: 28px
        line-height: 28px
        text-align: center
        background-color: $background-color
        margin-top: 15px

    > .preview-panel
        background-color: $background-color
        display: block
        width: 280px
        height: 166px
        position: absolute
        right: 80px
        top: 50%
        transform: translate(0, -50%)

