@import '../../../styles/global-var.styl';
@import "../../../styles/variables.styl"

.manager-wrapper {
    position: relative;
    padding-bottom: 24px;

    .material-select {
        width: 86%;
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 10px;
    }

    .manager-detail {
        position: absolute;
        display: inline-block;
        left: 110px;
        bottom: -10px;
        margin-bottom: 8px;
        white-space: pre;
        font-weight: 400;
        color: #979899;
    }

    .manager-select-name {
        width: 73px !important;
        height: 30px;
        line-height: 30px !important;
    }

    .manager-select {
        right: 40px;
        width: 205px !important;
    }

    .manager-icon {
        width: 30px;
        height: 30px;
        margin-bottom: 10px;
        background: #FFFFFF;
        border-radius: 4px;
        border: 1px solid #C8C8C8;
        position: absolute;
        top: 0;
        right: 0;
        vertical-align: middle;
        margin-left: 11px;
        background: url("../../../resources/images/18x18/printing-manager_18x18@2x.png") no-repeat center / 18px 18px
    }
}

.manager-is-modified {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    background: url("../../../resources/images/cnc-laser/ic_asterisk_18x18.png") no-repeat center / 16px 16px
}

.separator
    display: block
    margin: 10px 0
    padding: 0
    height: 1px
    border: 0;
    border-top: 1px solid $border-color

.manager-body {
    text-align: left;

    .manager-type-wrapper {
        padding: 0 20px
        border-bottom: 1px #c8c8c8 solid
        text-align: left

        .manager-type {
            display: inline-block
            line-height: 25px
            padding-bottom: 9px
            height: 36px;
            font-size: 18px;
            font-weight: 500;

            &.selected {
                color: #28A7E1;
                border-bottom: 2px #28A7E1 solid;
            }
        }
    }

    .manager-content {
        padding: 20px;

        .manager-name {
            width: 36%
            margin-right: 10px
            display: inline-block
            vertical-align: top

            .manager-name-wrapper {
                list-style: none
                background: #FFFFFF;
                padding: 0;
                margin: 0;
                height: 363px;
                overflow-y: scroll;
                border: 1px solid #c8c8c8;
                border-bottom: 0;

                .manager-btn {
                    display: inline-block
                    height: 32px
                    line-height: 32px;
                    padding-left: 10px;
                    width: 100%;
                    text-align: left;

                    &.selected {
                        background-color: $background-color-selected;
                    }
                }
            }

            .manager-file {
                width: 50%;
                border-radius: 0;

                &:hover {
                    color: #28A7E1
                }
            }
        }

        .manager-details {
            width: 62%
            height: 393px;
            overflow-y: scroll;
            display: inline-block;
            border: 1px solid #c8c8c8;
            padding: 10px 10px 20px;
            text-align: left
        }
    }

    .manager-settings {
        padding: 0 20px;
        background: #F6F7F8;

        .manager-settings-btn {
            padding: 9px 0;

            a {
                box-sizing: content-box;
                height: 24px;
                line-height: 24px;
                padding: 5px 30px
            }
        }

        .manager-settings-operate {
            float: left;
        }

        .manager-settings-save {
            float: right;
        }
    }
}
