.container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box {
    background: #fff;
    border-radius: 12px;
}

.form-box {
    padding: 12px;
    margin: -12px;
    margin-bottom: -36px;
    border-radius: 10px;
    border: 1px solid #e3e3e3;

}

.form {
    width: 100%;
}

.divider {
    margin-top: 0;
    margin-bottom: 6px;
}

.form-item {
    width: 120px;
    margin-right: 10px;
    margin-bottom: 12px !important;
}

.select-box, .input {
    width: 120px !important;
    position: relative;
    color: #545659 !important;
    border-radius: 8px !important;
}

.select-box div {
    border-radius: 8px !important;
}

.input-label {
    color: #545659 !important;
}
.input-box {
    position: relative;
}
.input-suffix {
    position: absolute;
    top: 5px;
    right: 15px;
    color: #b9bcbf;
}

.select {
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.85);
    height: 30px;
    padding: 0 6px;
    text-align: left;
}

.select:hover {
    border-color: #40a9ff;
    border-right-width: 1px;
}

.select option {
    height: 30px;
    line-height: 30px;
}

.title-box {
    display: flex;
    justify-content: space-between;
}

.title-box-name {
    width: 120px;
    color: #545659;
    padding: 0 6px;
}
