@import "../styles.styl"

.laser-set-background-instruction-step
    > ol
        list-style-type: none

        li
            line-height: 1.5em
.modal-body
    padding: 36px;
.laser-set-background-instruction-step-detail
    > ol
        list-style-type: lower-alpha

.btn-test-laser-focus-z-normal
    width: 25px
    height: 25px
    background-color: $white-color
    border-width: 2px
    border-style: solid
    border-color: $grey-color2
    outline: 0
    &:active
        border-color: $dark-blue-color


.btn-test-laser-focus-z-selected
    width: 25px
    height: 25px
    background-color: $white-color
    border-width: 2px
    border-style: solid
    border-color: $dark-blue-color
    outline: 0

.text-test-laser-focus-z-value-normal
    margin-bottom: 0
    margin-top: 0
    color: $grey-color2
    &:active
        color: $dark-blue-color

.text-test-laser-focus-z-value-selected
    margin-bottom: 0
    margin-top: 0
    color: $dark-blue-color

.btn-addbackground
  position: absolute
  top: 0
  width: 100%
  right: 0
  min-width: 149.5px
.btn-removebackground
  position: absolute
  top: 0
  width: 100%
  right: 0
  min-width: 149.5px
  background-color: #fff;
  color: #D0021B;
  border-color: #D0021B
  &:hover
    background-color: #28a7e1

.laser-set-background-calibration-title
    display: block
    font: bold 24px "Arial Black", Gadget, sans-serif
    margin: -44px 0 60px 0;
    text-align: left
.laser-set-background-modal-title
    display: block
    font: bold 24px "Arial Black", Gadget, sans-serif
    margin-top: -44px;
    text-align: left
.laser-set-background-modal-content
    text-align: center
    position: relative
    .calibrate-advise
        width:100%;
    .calibrate-background
        position: absolute;
        top: -54px;
        left: 0;
        right: 0;
        margin: auto;

        .confirm-actions
            display: inline-block;
            position: relative;
            width: 20%;
            float: right;
            border-radius: 4px;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
            border: solid 1px #c8c8c8;
            background-color: #fff;

            &__btn
                display: block

                > i
                    display: block
                    width: 18px
                    height: 42px
                    transform: translateY(-20%);

            &__icon-confirm
                background: url("/images/camera-aid/ic_confirm_18x18.png") no-repeat center
            &:hover
                border: 1px solid $dark-blue-color
        .isBlue
            background-color: #28a7e1
        .reset-actions
            display: inline-block;
            float: left;
            position: relative;
            width: 20%;
            border-radius: 4px;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
            border: solid 1px #c8c8c8;
            background-color: #fff;
            &__btn
                display: block

                > i
                    display: block
                    width: 18px
                    height: 42px
                    transform: translateY(-20%);
            &__icon-reset
                background: url("/images/camera-aid/ic_reset_18x18.png") no-repeat center
            &__text
                position: absolute;
                right: 1rem;
                top: 50%;
                transform: translateY(-50%);
            &:hover
                border: 1px solid $dark-blue-color

.photo-display
    margin: auto
    position: relative
    border: 1px solid #ccc
    box-sizing:border-box

.laser-extract-previous
    display: inline-block

    img
      vertical-align: top
.start-background
    position: absolute
    top: 50%
    left: 50%
    width: 200px
    transform: translate(-50%,-50%)

    .start-actions
        display: block

        &:hover
            border: 1px solid $dark-blue-color

.btn-camera
   float: left
   width: 25%
   background-color: #fff
   color: #088fcd
   border-color: #088fcd
   margin: 10px 0 0 0
   &:hover
     background-color:$dark-blue-color
     color: #fff
.btn-right-camera
   float: right
   width: 25%
   border-color: #088fcd
   background-color: #28a7e1
   color: #fff
   margin: 10px 0 0 0
   &:hover
     background-color:$dark-blue-color
     color: #fff
.btn-camera-disabled
   float: left
   width: 25%
   color: #fff
   background-color: #DBDBDB
   margin: 10px 0 0 0
.btn-right-camera-disabled
   float: right
   width: 25%
   color: #fff
   background-color: #DBDBDB
   margin: 10px 0 0 0
