@import '../form';

.firmware {
    padding-left: 0;
    list-style: none;
    .wrapper{
        margin-top: 20px;
        .label-text{
          min-width: 115px;
          display:inline-block;
        }
        .module-input{
            margin-left: 30px;
        }
        .main-input{
            margin-left: 30px;
        }
        .version-input{
            width: auto;
            margin-left: 30px;
        }
    }
}
.build-button{
    margin-top: 30px;
}
.warning-notes{
    margin-top: 10px;
    color: #e12846;
}
