@import "../styles.styl"

.bt
    &:hover
        opacity(1)
    &:active
        opacity(.3)

.name
    vertical-align: middle
    line-height: 36px
    height: 36px
    display: inline-block
    width: 240px

.object-list-box
    margin-top: -15px
    margin-bottom: -15px
    margin-left: -10px
    margin-right: -10px
    max-height: 158px
    overflow: auto
    background: #FFFFFF

.bgr
    width: 330px
    height: 30px
    background-color: unset
    background-size: 30px

.selected
    background-color: #E7F2FD

.icon
    vertical-align: middle
    width: 36px
    height: 36px

    &.icon-shape
        background: url("./images/list_ic_shape_18x18@2x.png") no-repeat center center
        display: inline-block
    &.icon-pic
        background: url("./images/list_ic_pic_18x18@2x.png") no-repeat center center
        display: inline-block
    &.icon-text
        background: url("./images/list_ic_text_18x18@2x.png") no-repeat center center
        display: inline-block
    &.icon-hide-open
        background: url("./images/list_ic_open_18x18@2x.png") no-repeat center center
        margin-left: 8px
        border: none
    &.icon-hide-close
        background: url("./images/list_ic_close_18x18@2x.png") no-repeat center center
        margin-left: 8px
        border: none
