@import '../form';

.learn-more {
    color: #0060AC;
    font-size: 14px;

    > * {
        vertical-align: middle;
    }
}

.label {
    display: inline-block;
    color: #0060AC;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 3px;
    border-color: #8daed9;
    padding: 4px 8px;
}

.about-container
    margin-top: 0
    align-items: center

    .product-logo
        width: 200px

    .about-productName
        font-size: 18px

    .about-product-description
        margin-bottom: 10px

.autoupdate-checkbox{
  margin-left: 10px;
}
