@import '../form';
.form-control {
    margin-top: 5px;
}
.learn-more {
    color: #0060AC;
    font-size: 14px;

    > * {
        vertical-align: middle;
    }
}

.label {
    display: inline-block;
    color: #0060AC;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 3px;
    border-color: #8daed9;
    padding: 4px 8px;
}

.about-container
    margin-top: 0
    align-items: center

    .product-logo
        width: 200px

    .about-productName
        font-size: 18px

    .about-product-description
        margin-bottom: 10px
.autoupdate-wrapper {
    margin-top: 10px;
    .update-title{
        margin: 0 0 5px 0;
    }
    .autoupdate-auto {
        height: 15px;
        line-height: 15px;
        vertical-align: middle;
        display: inline-block;
        .autoupdate-checkbox {
            margin-left: 10px;
            margin-right: 5px;
            vertical-align: middle;
        }
    }
    .autoupdate-button{
        color: #282828;
        vertical-align: middle;
    }
    .autoupdate-message{
        color: #808080;
        margin: 5px 0 0;
    }
}
