@import "../styles.styl"

.material-btn
    display: inline-block
    margin-right: 10px
    border: 1px solid $light-grey-color
    border-radius: $border-radius
    text-decoration: none
    height: 48px
    padding: 12px
    cursor: default

    &.selected
        border: 2px solid $btn-border-color-large-blue
