@import "../styles.styl"

.field-row
    position: relative
    margin-top: 10px
    line-height: 34px
    height: 34px

    > .field
        width: 120px
    > .input
        width: 100px
        float: right
    > .unit
        position: absolute
        right: 10px
        color: $grey-color
    > .checkbox
        float: right
        height: 26px
        margin-right: 8px
    > .select
        width: 120px
        float: right

.material-btn
    display: inline-block
    margin-right: 10px
    border: 1px solid $light-grey-color
    border-radius: $border-radius
    text-decoration: none
    height: 48px
    padding: 12px
    cursor: default

    &.selected
        border: 2px solid $btn-border-color-large-blue

