@import "../../styles/variables.styl"

.material-btn
    display: inline-block
    margin-right: 10px
    margin-bottom: 12px
    border: 1px solid $grey-color2
    border-radius: $border-radius
    text-decoration: none
    height: 48px
    padding: 12px
    cursor: default

    &.selected
        border: 2px solid $dark-blue-color

.parameter-table
    .checkbox
        height: 26px
        margin-left: 76px
