@import "../../styles/variables.styl"

.material-btn
    display: inline-block
    margin-right: 8px
    margin-bottom: 8px
    border: 1px solid $grey-color2
    border-radius: $border-radius
    text-decoration: none
    height: 30px
    padding: 6px 9px
    cursor: default
    line-height: 1.4

    &.selected
        border: 2px solid $dark-blue-color

.parameter-table
    .checkbox
        height: 26px
        margin-left: 76px
