@import "../../styles/variables.styl"
.material-select {
    width: 86%;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
}
.manager-icon {
    width: 32px;
    height: 32px;
    margin-bottom: 10px;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #C8C8C8;
    display: inline-block;
    vertical-align: middle;
    margin-left: 11px;
    background: url("../../images/18x18/printing-manager_18x18@2x.png") no-repeat center/18px 18px
}

table.config-details-table {
    color: $desc-text-color;
    margin-left: 15.5px;
    font-size: 12px;

    td {
        height: 28px;
        line-height: 13px;
    }

    tbody {
        & > tr {
            & > td:first-child {
                width: 200px;
            }
        }
    }
}
