@import "../../styles/variables"
@import "../styles.styl"

.trace-title
    display: block
    font: bold 24px "Arial Black", Gadget, sans-serif
    margin: 10px 0
    text-align: center

.trace-status
    float: left 
    font: 16px "Arial Black", Gadget, sans-serif
    margin: 0
    padding: 6px 0 0 

.trace-table
    width: 100%
    float: center

.trace-td-title
    font: 14px "Arial Black", Gadget, sans-serif
    width: 10%
    margin: 0
    padding: 0 

.trace-td-title-p
    padding: 0

.trace-td-slider
    width: 90%
    margin: 0
    padding: 10px 12px 20px 12px

.trace-td-div
    margin: 0 0 12px 12px
    padding: 6px

.trace-td-image
    padding: 0

.trace-btn-div
    float: right
    margin: 0
    padding: 6px 0 6px 0px

.trace-image-div
    margin: 0
    padding: 0
    float: left
