@import "../styles.styl";

.overrides {
    margin-bottom: 10px;

    .dro {
        margin-bottom: 10px;
    }

    .dro-label,
    .dro-display,
    .dro-btn-group {
        height: 30px;
    }
    .dro-label {
        font-size: 24px;
        line-height: initial;
        text-align: left;
    }
    .dro-display {
        padding: 4px 6px;
        text-align: right;
        font-size: 14px;
        text-overflow: initial;
        margin-right: 5px;
    }
    .dro-btn-group {
        margin-left: 5px;
    }
    .dro-btn {
        padding: 5px 5px;
    }
}

.temperature-controls
    :global
        .btn,
        .btn-group
            width: 100%

    .temperature-controls--row
        width: 100%

    button
        height: 32px
        width: 100%
        line-height: 13px
