@import "variables";


.main {
    background-color: $content-background-color;
    min-width: $content-min-width;
}

[class='browser-appbar'] {
    .main {
        margin-top: 24px;
    }
}

.content {
    position: relative;
    background-color: $content-background-color;
}
