@import "variables";


.main {
    background-color: $content-background-color;
    min-width: $content-min-width;
}

.content {
    position: relative;
    background-color: $content-background-color;
}
