@import "../../../styles/global-var.styl";

:global(.ant-modal) {
    min-height: 110px !important;
    min-width: 480px !important;
    max-width: 992px !important;
    max-height: 720px !important;
}

:global(.ant-modal-content) {
    height: auto;
    overflow: hidden !important;
    border-radius: 16px !important;
    :global(.ant-modal-close) {
        :global(.ant-modal-close-x) {
            width: $px-grade-28;
            height: $px-grade-24;
            line-height: $px-grade-20;
        }
    }
    :global(.ant-modal-header) {
        padding: $px-grade-7 $px-grade-12;
    }
    :global(.ant-modal-body) {
        padding: $px-grade-12 $px-grade-12 $px-grade-20;
        max-height 700px !important
        overflow-y auto !important
    }
    :global(.ant-modal-footer) {
        background: $grey-3;
    }
}

:global(.ant-modal-root) {
    :global(.no-header) {
        :global(.ant-modal-content) {
            :global(.ant-modal-body) {
                padding-top: $px-grade-20;
            }
        }
    }
}

:global(.model-lg-profile-manager) {
    width: calc(100vw - 80px) !important;
    max-width: calc(100vw - 80px) !important;
    height: calc(100vh - 80px) !important;
    max-height: calc(100vh - 80px) !important;
    padding-bottom: 0px !important;
    :global(.ant-modal-content) {
        height: 100%
        max-height: 100% !important;
        :global(.ant-modal-body) {
            padding: 0px;
            max-height: calc(100vh - 132px) !important;
        }
    }
}
