:global(.tile-modal) {
    :global(.ant-modal) {
        height: 100%;
        margin: 0;
        padding: 0;
        min-width: auto !important;
        min-height: auto !important;
        max-height: 100vh !important;
        max-width: 100vw !important;
        top: 0;
        :global(.ant-modal-content) {
            height: 100%;
            padding: 0;
            :global(.ant-modal-body) {
                padding: 0;
            }
        }
    }
}