@import "../../../styles/global-var.styl"

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.large{
    width: 160px!important;
}
.middle{
    width: 120px!important;
}
.small{
    width: 96px!important
}
.small-level-one {
    width: 64px !important;
}
.super-small{
    width: 56px!important
}
.override-textArea{
    display: inline-block;
    vertical-align: top;
    :global(.ant-input){
        border-radius: 8px;
        white-space: nowrap;
        border: 1px solid #B9BCBF;
    }
}
.input
    height: 32px;
    border-radius: 8px!important;
    border: 1px solid #B9BCBF !important;
    padding: 8px!important;
    lineHeight: 16px;
    color: #545659!important;
    font-size: 14px;

    &[disabled]
        cursor: not-allowed
        background-color: #F5F5F7!important;
        border: 1px solid #D5D6D9!important;
        color: #B9BCBF!important;

:global(.ant-input-suffix) {
    color: $black-5;
    margin-left: 0px !important;
}
:global(.ant-input-borderless) {
    background-color: transparent;
    border: none !important;
    box-shadow: none;
}
