@import "../../../styles/variables.styl"

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.large{
    width: 160px!important;
}
.middle{
    width: 120px!important;
}
.small{
    width: 96px!important;
}
.super-small{
    width: 56px!important;
}
.override-textArea{
    display: inline-block;
    vertical-align: top;
    .textarea {
        border-radius: 8px;
        border: 1px solid #B9BCBF;
    }
}
.input
    height: 32px;
    border-radius: 8px!important;
    border: 1px solid #B9BCBF;
    padding: 8px 16px 8px 8px!important;
    lineHeight: 16px;

    &[disabled]
        cursor: not-allowed
        opacity: .65
        background-color: $grey-color3
