@import "../../../styles/variables.styl"
.manager-body {
    text-align: left;
    .manager-type-wrapper {
        padding: 0 20px
        border-bottom: 1px #c8c8c8 solid
        text-align: left
        .manager-type {
            display: inline-block
            line-height: 25px
            padding-bottom: 9px
            height: 36px;
            font-size: 18px;
            font-weight: 500;
            &.selected {
                color: #28A7E1;
                border-bottom: 2px #28A7E1 solid;
            }
        }
    }
    .manager-content {
        height: 530px
        padding: 20px;
        display: flex;
        .manager-name {
            display:flex
            flex-direction: column
            width: 260px
            height: 100%
            margin-right: 10px
            vertical-align: top
            border: 1px solid #c8c8c8;
            .manager-name-wrapper {
                list-style: none
                background: #FFFFFF;
                padding: 0;
                margin: 0;
                overflow-y: scroll;
                flex: 1
                 vertical-align: top
                .manager-btn {
                    display: inline-block
                    height: 32px
                    line-height: 32px;
                    width: 100%;
                    text-align: left;
                    &.selected {
                        background: #E6F2FD;
                    }
                    .manager-btn-unfold {
                        width: 32px;
                        height: 32px;
                        display: inline-block;
                        vertical-align: middle;
                        .manager-btn-unfold-bg {
                            outline: none;
                            background: url("../../../resources/images/cnc-laser/ic_right arrow_18x18.png") no-repeat center/18px 18px
                            height: 18px;
                            margin: 7px;
                            width: 18px;
                            display: inline-block;
                            &.unfold {
                                outline: none;
                                background-image: url("../../../resources/images/cnc-laser/ic_drop arrow_18x18.png")
                            }
                        }
                    }
                    input{
                        float: none;
                        outline:none;
                        border:none;
                        width: 215px;
                        height: 24px;
                        background: #FFFFFF;
                        width: 180px;
                    }
                }
            }
            .manager-file {
                width: 50%;
                vertical-align: middle;
                background-color: white;
                &:hover {
                    color: #272829;
                }
                .action-title{
                    vertical-align: middle;
                    display: inline-block;
                    padding: 0 5px;
                }
            }
        }
        .manager-grouplist {
            width: 220px
            height: 100%
            border: 1px solid #c8c8c8;
            margin-right: 10px;
            padding: 1px;
            text-align: left
            .item{
                display: block;
                width: 100%;
                line-height: 32px;
                padding: 0px 10px;
            }
            .selected {
                background: #E6F2FD;
            }
        }
        .manager-details {
            width: 420px
            height: 100%
            overflow-y: scroll;
            border: 1px solid #c8c8c8;
            padding: 10px 10px 20px;
            text-align: left
        }
    }
    .manager-settings {
        padding: 0 20px;
        background: #F6F7F8;
        .manager-settings-btn {
            padding: 9px 0;
            a {
                box-sizing: content-box;
                height: 24px;
                line-height: 24px;
                padding: 5px 30px
            }
        }
        .manager-settings-operate {
            float: left;
        }
        .manager-settings-save {
            float: right;
        }
    }


}
