@import "../styles/variables.styl"

button:focus {
    outline: none;
}

// separator without margin on top and bottom
.separator
    display: block
    margin: 10px 0
    padding: 0
    height: 1px
    border: 0;
    border-top: 1px solid $border-color

    &.separator-underline
        margin: 0 0 10px 0

.btn
    display: inline-block
    padding: 5px 12px
    margin-bottom: 0
    font-weight: normal
    line-height: 1.42857143
    text-align: center
    white-space: nowrap
    vertical-align: middle
    cursor: pointer
    user-select: none
    border-width: 1px
    border-style: solid
    border-radius: $border-radius

    &[disabled],
    &[disabled]:hover
        cursor: not-allowed
        opacity: .65

.btn-small
    height: $btn-size-small
    background-color: $btn-background-color-small
    color: $btn-color-small
    border-color: $btn-border-color-small

    &:hover
        background-color: $btn-color-small-hover
        color: $btn-background-color-small-hover

.btn-large-blue
    height: $btn-size-large
    background-color: $btn-background-color-large-blue
    color: $btn-color-large-blue
    border-color: $btn-border-color-large-blue

    &[disabled]:hover
        background-color: $btn-background-color-large-blue
        color: $btn-color-large-blue
    &:hover
        background-color: $btn-background-color-large-blue-hover
        color: $btn-color-large-blue-hover

.btn-large-green
    height: $btn-size-large
    background-color: $btn-background-color-large-green
    color: $btn-color-large-green
    border-color: $btn-border-color-large-green

    &[disabled]:hover
        background-color: $btn-background-color-large-green
        color: $btn-color-large-green
    &:hover
        background-color: $btn-background-color-large-green-hover
        color: $btn-color-large-green-hover

.btn-large-white
    height: $btn-size-large
    background-color: $btn-background-color-large-white
    color: $btn-color-large-white
    border-color: $btn-border-color-large-white

    &[disabled]:hover
        background-color: $btn-background-color-large-white
        color: $btn-color-large-white
    &:hover
        background-color: $btn-background-color-large-white-hover
        color: $btn-color-large-white-hover


.fa-btn
    width: 20px
    height: 20px
    line-height: 20px
    text-align: center

    &:hover
        opacity(.5)
    &:active
        opacity(.3)

.input
    height: 34px
    padding: 6px 12px
    font-size: 13px
    line-height: 1.42857143
    color: $text-color
    border-width: $border-width
    border-style: solid
    border-radius: $border-radius
    border-color: $light-grey-color

    &.input-narrow
        padding: 6px
    &.invalid
        border-color: #E12846

.description-text
    color: $grey-color
    font-size: 14px

// widget
.widget-content
    position: relative
    padding: 18px 12px

    &.hidden
        display: none

// parameter widgets
.parameter-table
    width: 100%
    :global
        tbody
            &>tr
                &>td
                    position: relative
                    padding: 0 4px 6px
            &>tr:last-of-type
                &>td
                    padding: 0 4px

        td:first-child
            width: 100px

    .unit
        position: absolute
        right: 10px
        top: 8px
        color: $grey-color
