@import "../styles.styl"

.select-tools {
    // cancel out last right padding
    margin: 0 -15px 0 0

    .select-tool {
        display: inline-block
        padding: 0 18px 15px 0
        width: 25%

        .select-tool-btn {
            display: block
            border-radius: $border-radius
            border: 1px solid $grey-color2

            > img {
                border-radius: $border-radius
                width: 100%
            }

            &.selected {
                border: 2px solid $dark-blue-color
            }
        }

        .select-tool-text {
            margin-top: 8px
            float: left
            width: 100%
            text-align: center
            color: $grey-color
        }
    }
}

// Connection State
//  - machine name
.connection-state {
    width: 100%

    &-name {
        font-size: $font-size-lead
    }

    &-icon {
        float: right;
        font-size: $font-size-lead
        margin-right: 5px

        i {
            vertical-align: middle
        }
    }
}

// Item State
//  - head type
.connection-item-state {
    &__name {
        color: $grey-color
    }

    &__icon {
        float: right;

        i {
            font-size: $font-size-base
            vertical-align: middle
        }
    }
}

// FIXME: weird
.color-grey-color {
    color: $grey-color
}
