@import "../styles.styl"


.object-list-box {
    //margin-top: -15px
    //margin-bottom: -15px
    //margin-left: -10px
    //margin-right: -10px
    max-height: 320px
    overflow: auto
    //background: #FFFFFF
}

.object-list-item {
    background-color: unset
    background-size: 36px
    position: relative

    &.selected {
        background-color: #E7F2FD
    }

    .bt {
        &:hover {
            opacity(1)
        }

        &:active {
            opacity(.3)
        }
    }

    .name {
        vertical-align: middle
        line-height: 38px
        height: 36px
        display: inline-block
        width: 200px
    }

    .icon {
        vertical-align: middle
        width: 36px
        height: 36px
        &.icon-shape{
            background: url("images/list_ic_3d_18x18.png") no-repeat center center
            display: inline-block
        }

        &.icon-hide-open, &.icon-hide-close {
            margin-right: 8px
            border: 0
            position: absolute
            right: 0
        }

        &.icon-hide-open {
            background: url("images/list_ic_open_18x18@2x.png") no-repeat center center
        }

        &.icon-hide-close {
            background: url("images/list_ic_close_18x18@2x.png") no-repeat center center
        }
    }
}
