@import "../../../styles/global-var.styl";

:global(.ant-radio-disabled) {
    :global(span.ant-radio-inner) {
        border-color: $grey-1 !important;
        background-color: $grey-3； 
        &::after {
            background-color: $grey-1 !important;
        }
    }
}