@import "../variables.styl"
@import "../../widgets/styles.styl"

.laser-table {
    display: table;
    width: 100%;
    height: 'calc(100vh - %s)' % (50px);
}
.laser-table-row {
    display: table-row;
}

.view-space {
  position: fixed;
  left: $sidebar-width
  right: 360px;
  top: 50px;
  bottom: 0;
  border-right: 1px solid #ccc;
  display: table-cell;
}

.control-bar
    display: block
    width: $controls-width
    min-width: $controls-width
    max-width: $controls-width
    right: 0
    padding: 10px 6px
    background-color: $background-color
    position: absolute
    overflow: auto
    height: 100%
