.gcode-inspect {
    table[data-table="dimension"] {
        width: 100%;

        thead > tr > th,
        tbody > tr > td {
            padding: .25rem
            text-align: right
        }

        thead > tr > th.axis,
        tbody > tr > td.axis {
            width: 1%;
            white-space: nowrap;
        }
        tbody > tr > td {
            text-align: right;
            &.axis {
                text-align: center;
            }
        }
    }
}
