

.progressbar {
    z-index: 500;
    position: absolute;
    bottom: 16px;
    left: 0;
    width: calc(100% - 280px);
    height: 70px;
    overflow: hidden;
    padding: 0 24px;
    margin-left: 172px;
    margin-right: 108px;
    background-color: #FFFFFF;
    border-radius: 8px;

    .progress-notice {
        position: relative;
        top: 0;
    }
    :global(.ant-progress) {
        top: 6px;
        color: #D5D6D9;
        :global(.ant-progress-inner) {
            top: -8px;
        }
        :global(.ant-progress-outer) {
            margin-right: 0!important;
            padding-right: 0!important;
        }
        :global(.ant-progress-status-success) :global(.ant-progress-bg){
            background-color: #1890ff!important;
        }
    }
    :global(.ant-progress-text) {
        display: none;
    }
}
