

.progressbar {

    .progress-notice {
        position: relative;
        top: 0;
    }
    :global(.ant-progress) {
        top: 6px;
        color: #D5D6D9;
        :global(.ant-progress-inner) {
            top: -8px;
            height: 12px;
            :global(.ant-progress-bg) {
                height 12px !important;
            }
        }
        :global(.ant-progress-outer) {
            margin-right: 0!important;
            padding-right: 0!important;
        }
        :global(.ant-progress-status-success) :global(.ant-progress-bg){
            background-color: #1890ff!important;
        }
    }
    :global(.ant-progress-text) {
        display: none;
    }
}
