.caselibrary {
    padding: 50px 0 0 50px;
}

.container {
    display: table;
    width: 100%;

    // https://www.w3.org/TR/CSS21/visudet.html#min-max-heights
    // In CSS 2.1, the effect of 'min-height' and 'max-height' on tables, inline tables, table cells, table rows, and row groups is undefined.
    margin-bottom: 50px

    .mainTitle{
      display: inline-block;
      font-size: 30px;
      margin-bottom: 0;
      font-weight: bold;
      color: #808080;
      vertical-align: middle;
    }
    .subTitle {
      height: 33px;
      font-size: 24px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      margin-top: 30px;
      margin-bottom: 20px;
      color: #979899;
      line-height: 33px;
    }
    .sizeSelect{
      display: inline-block;
      width: 10rem;
      vertical-align: middle;
      margin-left: 3rem;
    }
    &.usecase {
      min-width: 1050px;
      .columns{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        .column{
          width: 330px;
          border-width: 1px;
          border-style: solid;
          border-color: #e6e6e6;
          border-radius: 4px;
          margin: 0 2rem 2rem 0;
          overflow: hidden;
          background-color: white;
          padding: 8px;
          -webkit-box-shadow: 0 0 5px #999999;
          box-shadow: 0 0 5px #999999;
          .imgIcon{
            display: block
            margin: 1rem auto;
            width: 300px
          }
          .cardtext{
            padding: 1.25rem 0;
            h4{
              font-size: 20px;
              font-weight: bold;
              text-align: left;
              margin-bottom: 2rem;
            }
            p{
              margin-top: -1.5rem;
              padding-bottom: 1.5rem;
              text-align: left;
              font-size: 14px;
              color: #808080;
              border-bottom: 1px solid #ccc;
            }
          }
          .load{
            display: block;
            float: right;
            margin: -.5rem .5rem 1rem 0;
          }
        }
      }
    }

    &.videoTutorials {
      border: 1px solid #ccc;
      width: 70%
      .columns{
        display: flex;
        justify-content: space-between
        .column{
          width: 20%;
          border-width: 1px;
          border-style: solid;
          border-color: #e6e6e6;
          border-radius: 4px;
          overflow: hidden;
          padding: 8px;
          -webkit-box-shadow: 0 0 5px #999999;
          box-shadow: 0 0 5px #999999;
          .imgIcon{
            display: block
            width: 100%
          }
          p{
            font-size: 1rem;
            color: #808080;
            margin:10px 0;
          }
          .cardtext{
            width: 100%;
            font-size: 14px;
            color: #808080;
            margin: 0 auto
          }
        }
      }
    }
}

.row {
    display: table-row;
}

.col {
    display: table-cell;
}

.navbar {
    position: relative;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    > li {
        position: relative;
        display: block;

        > a {
            position: relative;
            display: block;
            padding: 5px 10px;
            background-color: #f5f5f5;
            border-bottom: 1px solid #e0e0e0;
            color: #000;
            text-decoration: none;
            white-space: nowrap;
        }
        > a:focus,
        > a:hover {
            color: #cc0000;
        }
    }
    > li.active {
        > a,
        > a:focus,
        > a:hover {
            color: #fff;
            background-color: #999;
        }
    }
}

//
// Left Pane
//
.sidenav {
    width: 200px;
    background-color: #f5f5f5;
}

//
// Splitter
//
.splitter {
    width: (5 + 2)px;
    min-width: (5 + 2)px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

//
// Right Pane
//
.section {
    vertical-align: top;
    position: relative;

    .heading {
        color: #fff;
        background-color: #999;
        padding: 5px 15px;
        border-bottom: 1px solid #e0e0e0;
    }

    .content {
        padding: 15px;
    }
}
