.select-circle
    width:12px;
    height:12px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(40,167,225,1);

    &.selected
        width:6px;
        height:6px;
        background:rgba(40,167,225,1);

.input-box-left {
            margin-left: 96px
            width: 85px
            height: 30px
        }

.input-box-inner-text {
    width: 15px
    margin-left: -15px
    text-align: center
}
