@import "../styles.styl"
.test-laser-instruction-content
    padding: 15px

.test-laser-instruction-step
    width: 30%
    float: left
    margin-right: 3%

    > img
        width: 100%

    > p
        padding: 10px 0


.btn-test-laser-focus-z-normal
    width: 25px
    height: 25px
    background-color: $white-color
    border-width: 2px
    border-style: solid
    border-color: $light-grey-color
    outline: 0
    &:active
        border-color: $dark-blue-color

.btn-test-laser-focus-z-selected
    width: 25px
    height: 25px
    background-color: $white-color
    border-width: 2px
    border-style: solid
    border-color: $dark-blue-color
    outline: 0

.text-test-laser-focus-z-value-normal
    margin-bottom: 0
    margin-top: 0
    color: $light-grey-color
    &:active
        color: $dark-blue-color

.text-test-laser-focus-z-value-selected
    margin-bottom: 0
    margin-top: 0
    color: $dark-blue-color

.laser-set-background-modal-content
    padding: 15px

.laser-set-background-operation-panel-left
    width: 48%
    height: 600px
    float: left
    background-color: #ffffe0

.laser-set-background-operation-panel-right
    width: 48%
    height: 600px
    float: right
    background-color: #ffe0e0

