@import "../styles.styl"

.test-laser-instruction-content
    padding: 15px

.test-laser-instruction-step
    width: 30%
    float: left
    margin-right: 3%

    > img
        width: 100%

    > p
        padding: 10px 0


.btn-test-laser-focus-z-normal
    width: 25px
    height: 25px
    background-color: $white-color
    border-width: 2px
    border-style: solid
    border-color: $light-grey-color
    outline: 0
    &:active
        border-color: $dark-blue-color

.btn-test-laser-focus-z-selected
    width: 25px
    height: 25px
    background-color: $white-color
    border-width: 2px
    border-style: solid
    border-color: $dark-blue-color
    outline: 0

.text-test-laser-focus-z-value-normal
    margin-bottom: 0
    margin-top: 0
    color: $light-grey-color
    &:active
        color: $dark-blue-color

.text-test-laser-focus-z-value-selected
    margin-bottom: 0
    margin-top: 0
    color: $dark-blue-color

.laser-set-background-modal-title
    display: block
    font: bold 24px "Arial Black", Gadget, sans-serif
    margin: 20px 0
    text-align: center


.extract-background
    display: block
    height: 74px
    width: 400px
    margin: 20px auto
    border: 1px solid $light-grey-color

    .extract-actions
        display: inline-block
        width: 33.333333%
        height: 100%
        border: 1px solid transparent

        &__btn
            display: block

            > i
                display: block
                margin-top: 8px
                width: 100%
                height: 40px

        &__icon-conform
            background: url("./images/conform.png") no-repeat center
        &__icon-reset
            background: url("./images/reset.png") no-repeat center
        &__icon-upload
            background: url("./images/upload.png") no-repeat center

        &__text
            display: block
            width: 100%
            text-align: center
            color: $grey-color

        &:hover
            border: 1px solid $dark-blue-color
