@import "../styles.styl";

.overrides {
    margin-bottom: 10px;

    .dro {
        margin-bottom: 10px;
    }

    .dro-label,
    .dro-display,
    .dro-btn-group {
        height: 30px;
    }
    .dro-label {
        font-size: 24px;
        line-height: initial;
        padding: 0 4px;
    }
    .dro-display {
        padding: 4px 6px;
        text-align: right;
        font-size: 14px;
        text-overflow: initial;
        margin-right: 5px;
    }
    .dro-btn-group {
        margin-left: 5px;
    }
    .dro-btn {
        padding: 5px 5px;
    }
}

.jog-distance-control {
    :global {
        .input-group {
            .input-group-btn:not(:first-child):not(:last-child) {
                .btn {
                    border-radius: 0;
                }
                .btn:last-child {
                    border-right: none;
                    margin-right: -1px;
                }
            }
        }
    }
}

.fa-plus,.fa-minus {
    position: relative
    :before {
        position: absolute;
        top: 8px;
    }

}