@import "../variables.styl"

.fa-btn
    width: 20px
    height: 20px
    line-height: 20px
    text-align: center

    &:hover
        opacity(.5)

    &:active
        opacity(.3)

.settings-panel
    position: relative;
    width: 100%;
    height: 100%;

.developer-panel
    position: absolute;
    left: 0;
    top: 0;
    width: 400px;
    max-width: 400px;
    min-width: 400px;
    padding: 10px 6px 10px 6px
    border: 1px solid #ccc;
    margin: 5px;

.developer-panel-right
    margin-left: 410px;
    vertical-align: top;
    padding: 10px 6px 10px 6px
    border: 1px solid #ccc;

.btn-cal
    width: 60px
    height: 40px
    margin: 6px 18px 6px 0px

.btn-func
    width: 90px
    height: 40px
    margin: 12px 36px 12px 0px
    // color: #fff;
    // background-color: #404040;
    // border-color: #383838;

.input-cal
    width: 60px
    height: 40px
    text-align: center
    margin: 6px 18px 6px 0px

.input-normal
    width: 60px
    height: 40px
    text-align: center
    margin: 6px

.input-setting
    width: 60px
    height: 40px
    text-align: center
    margin: 6px 36px 6px 0px

primary-tab
    display: table;
    width: 100%;
    height: 'calc(100vh - %s)' % (50px);

.title-row
    display: inline-block
    margin: 6px 24px 6px 42px

.title-col
    display: inline-block
    margin: 0 24px 0 4px


.controls
    display: table-cell
    width: $controls-width
    min-width: $controls-width
    max-width: $controls-width
    right: 0
    padding: 10px 6px
    background-color: $background-color
    border-left: 1px solid $border-color
    margin: 0 24px 0 4px 

.visualizer-notice
    // z-index: 500
    // position: absolute
    // left: 6px
    // bottom: 32px

.visualizer-progress
    // z-index: 500
    // position: absolute
    // bottom: 32px
    // left: 0
    // width: 100%
    height: 6px
